
    <div class="mx-auto mt-5" style="width:1000px;margin-top:100px !important;">
        <div class="row mt-5">
            <div class="col-12 mb-3">
                <h2 class="text-center register-header text-success">
                    <!-- Successfully Verified!<i class="fas fa-circle-check"></i> -->
                    Please Check Your Email!
                </h2>
            </div>
            <div class="col-12">
                <form action="">
                  <div class="" style="min-width:100%;">
                     <a routerLink="/register" class="btn signup-btn text-center w-100">Go to reigster
                      &nbsp;
                      <i class="fas fa-arrow-right-long"></i>
                     </a>
                  </div>
                  <h6 class="text-center text-decoration-underline mt-3 text-primary" (click)="handleBack.emit()" id="verification-btn">Didn't receive email?</h6>
                  <p class="text-center text-secondary my-2 w-100">

                  </p>
              </form>
            </div>
        </div>
    </div>
