<div class="container-fluid px-5">
    <header class="container-fluid bbmsnav-color mb-5 px-5 my-2">
            <a routerLink="/login" class="navbar-brand">
              <img src="/assets/img/download-removebg-preview.png" alt="Logo" width="60px" class="d-inline-block align-text-top">
            </a>
    </header>
    <section class="d-flex justify-content-center align-items-center w-100 mt-5">
        <verify-pass *ngIf="status.hasGotVerification" (handle-back)="backToSendVerification()"></verify-pass>
        <div style="transform: translateY(40%);" *ngIf="!status.hasGotVerification" class="col-10 mx-auto mw-100 ">
            <div class="col-12 mb-3 text-center">
                <h2 [class.d-none]="status.hasError">
                    Enter email to send verification 
                </h2>
                <h2 *ngIf="status.hasError" class="text-danger ">
                    {{ status.errorMsg }}
                </h2>
            </div>
        <div class="col-10 mx-auto">
            <form  #emailverify="ngForm" (ngSubmit)="onSubmit(emailverify)">
                <div class="d-grid">
                    <input type="email" class="form-control shadow-none signup-text" name="email" placeholder="name@company.com" #email="ngModel" ngModel [class.is-invalid]="email.touched && email.invalid" required>
                    <input [disabled]="status.isLoading || emailverify.invalid"  mat-button  type="submit" class="btn  signup-btn" [value]="status.isLoading ? 'Sending...' : 'Send'">
                </div>
            </form>
            <p class="text-center text-secondary my-2">By signing up, I agree to  
                <a href="#" class="nav-link d-inline-block text-decoration-underline">Dir Ace Technology</a>
                    and 
                <a href="#" class="nav-link d-inline-block text-decoration-underline">Terms of Service.</a>
            </p>
        </div>
        </div>
    </section>
</div>