<div class="container-fluid px-5">
    <header class="container-fluid bbmsnav-color mb-5">
        <a class="navbar-brand" href="#">
        <img src="../../../../assets/img/download-removebg-preview.png" alt="Logo" width="60px" class="d-inline-block align-text-top">
        </a>
    </header>
    <div class="d-flex justify-content-center align-items-center w-100">
        <div class="row">
            <div class="col-12 mb-3">
                
                <p class="text-center register-header fw-bold text-success">                    
                    
                    Successfully Verified
                    <i class="fas fa-circle-check"></i>
                </p>
            </div>
            <div class="col-12">
                <form action="">
            <div class="d-grid">
               <a href="" class="btn signup-btn text-center">Go to reigster
                &nbsp;
                <i class="fas fa-arrow-right-long"></i>
               </a> 
            </div>
            <p class="text-center text-secondary my-2">By signing up, I agree to  
                <a href="#" class="nav-link d-inline-block text-decoration-underline">Dir Ace Technology</a>
                and 
                <a href="#" class="nav-link d-inline-block text-decoration-underline">Terms of Service.</a>
             </p>
        </form>
            </div>
        </div>
    </div>
    
    </div>