<header class="sticky-top position-fixed  w-100 bg-pale-dark d-flex px-5 pe-3 align-items-center justify-content-around gap-1" id="header">
  
    <div id="header-left" class=" gap-2 align-items-center px-5 w-25 d-flex justify-content-start gap-3">
        <i (click)="toggleSidebar()" class="fa-solid fa-bars pale-snow" id="menu-icon" style="font-size:20px;transform: translateX(-100%);"></i>
        <img routerLink="/home" src="/assets/icon.png" style="width:58px;" alt="icon">
    </div>

    <div id="header-center" class="gap-2 text-center px-2 w-50">
        <i class="fa-solid fa-magnifying-glass" id="search-icon"></i>
        <input type="search" id="search" placeholder="Search" />
    </div>
    <div id="header-right" class="gap-2 px-5 w-25 d-flex justify-content-end align-items-center gap-1">
        <span routerLink="/notifications" class="text-white-50 pt-2 " >
            <i class='bx bx-bell bx-sm bx-tada-hover color-hover-white'></i>
            <span class="badge text-white bg-danger noti-con fw-light p-1">10+</span>
        </span>
        
        <div class="dropdown">             
            <div  class="bg-pale-snow p-0 d-flex justify-content-center align-items-center" data-bs-toggle="dropdown" id="profile">
                <span *ngIf="userStore.user.imageUrl == null && userStore.user.username != null" class="text-dark">{{ userStore.user.username[0].toUpperCase() }}</span>
                <img  *ngIf="userStore.user.imageUrl != null" class="w-100 h-100" style="border-radius: 100%;object-fit: cover;" [src]="'http://localhost:8080/img/'+userStore.user.imageUrl"  alt="">
            </div>     
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
              <li><button class="dropdown-item" type="button" routerLink="/profile">My Profile</button></li>
              <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Change Password</button></li>              
              <li><button class="dropdown-item text-danger" type="button" routerLink="/login">LogOut</button></li>
            </ul>
            
          </div>
                        
    </div>
    <!--  -->

</header>
<!-- start modal box -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-2">
      <div class="modal-header border-0">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Change Your Password</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="change-password-close-btn"></button>
      </div>
      <form #registerForm="ngForm">
          <div class="modal-body">
              <small class="text-danger m-2" *ngIf="this.status.changePassword.ok">{{this.status.changePassword.msg}}</small>
              <div class="m-2 mt-0">
                  <label for="currentpassword" class="form-label">Current Password</label>
                <input type="password" class="form-control shadow-none" placeholder="Enter current password" id="currentpassword" name="userPass.currentPassword" [(ngModel)]="userPass.currentPassword"  ngModel required >                  
                
              </div>
              <div class="m-2">
                  <label for="changepassword" class="form-label">Change Password</label>
                  <input type="password" class="form-control shadow-none" placeholder="Enter current change password" id="changepassword" name="userPass.changePassword" [(ngModel)]="userPass.changePassword" ngModel required >                   
                  
                </div>
                <div class="m-2">
                  <label for="confirmpassword" class="form-label">Confirm Password</label>
                  <input type="password" class="form-control shadow-none" placeholder="Enter current confirm password" id="confirmpassword" name="userPass.retypePassoword" [(ngModel)]="userPass.retypePassoword" ngModel required>                  
                  
                </div>   
          </div>
          <div class="modal-footer">                                              
            <button type="button" class="btn btn-change" (click)="changePassword()" [disabled]="registerForm.invalid" >Change</button>
          </div>   
      </form>
    </div>    
  </div>
</div> 
<!-- end model box -->