<header class="sticky-top position-fixed  w-100 bg-pale-dark d-flex px-5 align-items-center justify-content-around gap-1" id="header">
    <div id="header-left" class=" gap-2 align-items-center px-2 w-25 d-flex justify-content-start gap-3">
        <i (click)="toggleSidebar()" class="fa-solid fa-bars pale-snow" id="menu-icon" style="font-size:20px;transform: translateX(-100%);"></i>
        <img routerLink="/home" src="/assets/icon.png" style="width:58px;" alt="icon">
    </div>

    <div id="header-center" class="gap-2 text-center px-2 w-50">
        <i class="fa-solid fa-magnifying-glass" id="search-icon"></i>
        <input type="search" id="search" placeholder="Search" />
    </div>

    <!-- <li routerLink="/notifications" class="item p-2 text-md-start justify-content-center d-flex justify-content-md-start align-content-center"><i class='bx bx-bell bx-sm bx-tada-hover mx-2 color-hover-white'></i><span class="d-none d-md-inline-block">Notifications <span class="badge text-bg-danger rounded-pill">10+</span> </span></li> -->
    <div id="header-right" class="gap-2 px-2 w-25 d-flex justify-content-end gap-2">
        <div class="btn-group"> 
            <div  class="bg-pale-snow p-0 d-flex justify-content-center align-items-center" data-bs-toggle="dropdown" id="profile">
                <span *ngIf="userStore.user.imageUrl == null && userStore.user.username != null" class="text-dark">{{ userStore.user.username[0].toUpperCase() }}</span>
                <img  *ngIf="userStore.user.imageUrl != null" class="w-100 h-100" style="border-radius: 100%;object-fit: cover;" [src]="'http://localhost:8080/img/'+userStore.user.imageUrl"  alt="">
            </div>     
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
              <li><button class="dropdown-item" type="button" routerLink="/profile">My Profile</button></li>
              <li><button class="dropdown-item" type="button" routerLink="/login">LogOut</button></li>
            </ul>
          </div>
    </div>
    <!--  -->

</header>