<div id="notifications-container">
    <h6 class="mb-4  shadow-sm py-3 px-3 d-flex align-items-center justify-content-between">
        <span style="font-size: 20px;">
            <!-- <i class='bx bx-bell bx-sm bx-tada-hover  mx-1'></i> -->
            <!-- <i class="fa-regular fa-bell bx-tada-hover  mx-1 fs-5"></i> -->
            Notifications

        </span>
        <span class="btn btn-outline-secondary btn-sm d-flex justify-content-center align-items-center"
            (click)="markAllRead()" style="font-size: 13px;">
            <i class="fa-solid fa-check bx-tada-hover  mx-1"></i>
            <span class="pt-1">Mark all as read</span>
        </span>
    </h6>
    <div id="notifications"
        class="p-0 {{ notifications.length == 0 ? ' d-flex justify-content-center align-items-center' : ''}}">
        <noti *ngFor="let noti of notifications" [noti]="noti"></noti>
        <div *ngIf="notifications.length == 0">
            There is no notification yet!
        </div>
    </div>
</div>