<nav id="sidebar" class="p-0 m-0" [class.sidebar-hide]="!toggleStore.isShow" >
    <div class="d-grid d-md-block">
        <p  routerLink="/create-board" class="h6 m-3 ms-3 mb-2 mb-0 btn btn-dark">
            <i class="fas fa-plus bx-tada-hover"></i>
            <span class="d-none d-md-inline-block ms-2">Board</span> 
        </p>
    </div>
    
    
    <ul class="w-100 p-0 m-0 snow siderbarTab-font">
        
        <li routerLink="/home" class="item p-2 text-md-start justify-content-center  d-flex justify-content-md-start align-content-center"><i class="bx bx-home-alt-2 bx-sm mx-2 bx-tada-hover color-hover-white "></i> <span class="d-none d-md-inline-block ">Home</span> </li>
        <li routerLink="/boards" class="item p-2 text-md-start justify-content-center d-flex justify-content-md-start align-content-center"><i class="bx bx-briefcase bx-sm bx-tada-hover mx-2 color-hover-white"></i>        <span  class="d-none d-md-inline-block">Workspace</span> </li>
        <li routerLink="/my-tasks" class="item p-2 text-md-start justify-content-center d-flex justify-content-md-start align-content-center"><i class="bx bx-task bx-sm bx-tada-hover mx-2 color-hover-white"></i><span class="d-none d-md-inline-block">Tasks</span></li>        
        <li routerLink="/bookmarks" class="item p-2 text-md-start justify-content-center d-flex justify-content-md-start align-content-center"><i class="bx bx-bookmark bx-sm bx-tada-hover mx-2 color-hover-white"></i><span class="d-none d-md-inline-block">Bookmarks</span></li>
        <li routerLink="/reporting" class="item p-2 text-md-start justify-content-center d-flex justify-content-md-start align-content-center"><i class='bx bx-line-chart bx-sm mx-2 color-hover-white bx-tada-hover'></i><span class="d-none d-md-inline-block">Reporting</span> </li>
        
    
    </ul>
    <section *ngIf="sideBoards.length > 0" class="container-fluid workspace mt-3 pt-1">
            <div class="row">
                    <div class="col-12 badge  cursor-btn h-25 mt-0 mb-2 py-2">
                        <i class="fas fa-plus text-light bx-tada-hover me-1"></i>
                            Invite people
                    </div>           
                <ul class="col-12 justify-content-center p-0 sider-scroll" >
                    <li *ngFor="let board of sideBoards" class="px-3 cursor-btn" (click)="handleGoBoard(board.id)">
                        <i class="fas fa-square ws-icon boardColor" [ngStyle]="{'color': board.color}"></i>
                        <span  class="color-hover-white fw-light siderboards-font text-capitalize">{{board.boardName}}</span>                    
                          <i class="fas fa-ellipsis float-end pt-1 color-hover-white bx-tada-hover">
                          </i>        
                    </li>                    
                </ul>           
            </div>                              
    </section>
</nav>



