<div class="container-fluid mb-4">
    
    <div class="w-75 mx-auto py-4 text-center" >
        <h4 class="h5 text-muted text-center ">
            <span>{{ dateObj | date : 'yyyy' }} </span>
            <span>{{ dateObj | date : 'MMM' }}, </span>
            <span>{{ dateObj | date : 'dd' }}</span>
        </h4>
        <h3 class="text-dark h2 py-3 pt-0">{{ period }} ,
            <span *ngFor="let char of username.split('');">{{ char }}</span>
            <span *ngIf="username.length != userStore.user.username.length">|</span>
        </h3>
        <div class="d-flex  user-tasks justify-content-center text-muted" #countUp>
            <div routerLink="/my-tasks" style="cursor:pointer;">
                <span>
                    <i class="fa-solid fa-list-check bx-tada-hover mx-2 fw-bold  " style="font-size: 19px;"></i>
                </span>
                <span class="mx-1 fw-bold fs-3" id="count" [attr.data-count]="allTaskCardList.length">

                </span>
                <span class="user-infos">
                    Tasks
                </span>
            </div>
            <div routerLink="/boards" style="cursor:pointer;">
                <span>
                    <i class="bx bx-briefcase bx-sm bx-tada-hover mx-2"></i>
                </span>
                <span class="mx-1 fw-bold fs-3" id="count" [attr.data-count]="homeBoards.length">

                </span>
                <span class="user-infos">              
                    {{ collaborators.length == 0 ? "Board" : "Boards"}}
                </span>
            </div>
            <div style="cursor:pointer;">

                <span>
                    <i class="fa-solid fa-user-group bx-tada-hover mx-2"></i>
                </span>
                <span class="mx-1 fw-bold fs-3" id="count" [attr.data-count]="collaborators.length">

                </span>
                <span class="user-infos">
                    {{ collaborators.length == 0 ? "Collaborator":"Collaborators" }}
                </span>
            </div>
        </div>
        <div class="w-100 pt-2">
            <loading target="Home..." [show]="status.isLoading"></loading>
            <div class="container" *ngIf="status.hasDoneFetching">
                <div class="container-fluid d-flex justify-content-center w-100 mb-3">
                    <div class="w-50 user-info-cards mx-1">
                        <div class="w-100 text-start">
                            <div class="w-100 row p-2 d-flex justify-content-center align-items-center pb-1 m-0"
                                style="border-bottom: 1px solid #6d6e6f65;">
                                <!-- img holder -->
                                <div class="col-2 bg-red px-0" id="user-profile-img ">
                                    <div class="w-75 mx-auto pb-2">
                                        <div *ngIf="userStore.user.imageUrl == null && userStore.user.username != null"
                                            class="text-light d-flex justify-content-center align-items-center "
                                            style="width: 50px;height: 50px; border-radius: 50%;padding-top: 7px;"
                                            [style.background]="userStore.user.iconColor + '!important'"
                                            >
                                            <h4>{{ user.username && user.username[0].toUpperCase() }}</h4>
                                        </div>
                                        <div *ngIf="userStore.user.imageUrl != null"
                                            class="d-flex justify-content-center align-items-center "
                                            style="width: 50px;height: 50px; border-radius: 50%;">
                                            <img *ngIf="userStore.user.imageUrl != null" class="w-100 h-100"
                                                style="border-radius: 100%;object-fit: cover;"
                                                [src]="'http://localhost:8080/img/'+userStore.user.imageUrl" alt="">
                                        </div>

                                    </div>
                                </div>
                                <!-- img holder -->
                                <!-- My Priorities  -->
                                <div class="col-10 ps-2 m-0">
                                    <h4 class="m-0 ps-1">My Priorities</h4>
                                    <div class="my-prior p-0 m-0">
                                        <span class="pt-0" (click)="myPriorities('Upcoming')"
                                            [class.my-prior--active]="this.status.upComingTab">
                                            All tasks
                                        </span>
                                        <span class="pt-0" (click)="myPriorities('Overdue')"
                                            [class.my-prior--active]="this.status.overDueTab">Overdue</span>
                                        <span class="pt-0" (click)="myPriorities('Completed')"
                                            [class.my-prior--active]="this.status.completedTab">Completed</span>
                                    </div>
                                </div>
                                <!-- My Priorities  -->
                            </div>
                            <div class="w-100 ">
                                <div class="container-fluid text-center"
                                    *ngIf="this.allTaskCardList.length==0 && status.hasTaskFetching">
                                    <div class="pt-5">
                                        <img class="mb-4 opacity-75" src="assets/img/3D/undraw_invite_re_rrcp.svg"
                                            alt="" width="25%" style="max-width: 200px;">
                                        <h4 class="fw-bold opacity-75">No Tasks</h4>
                                    </div>
                                </div>
                                <ul class="list-unstyled my-prior-list container-fluid" *ngIf="this.status.upComingTab"
                                    style="overflow-y: scroll;height: 200px;scroll-behavior: smooth;">

                                    <li class="d-flex justify-content-between mx-auto p-2 taskcard-pointer container-fluid"
                                        *ngFor="let taskList of  this.allTaskCardList"
                                        style="border-bottom: 1px solid #6d6e6f65;cursor: pointer;"
                                        [routerLink]="'/boards/'+taskList.board.id">
                                        <div>
                                            <span>
                                                <i class='bx bxs-checkbox'></i>
                                                <!-- <input type="checkbox" name="" id=""
                                                    class="form-check-input shadow-none"> -->
                                            </span>
                                            <span *ngIf="taskList.taskName.length<=11">
                                                {{taskList.taskName.substring(0,11) }}
                                            </span>
                                            <span *ngIf="taskList.taskName.length>11">
                                                {{taskList.taskName.substring(0,11) }}...
                                            </span>


                                        </div>
                                        <div>
                                            <h6 class="d-inline-block" style="font-size: 14px;"><span
                                                    class="badge  fw-light" style="background-color: #3e3636;"
                                                    *ngIf="taskList.board.boardName.length>10">
                                                    {{taskList.board.boardName.substring(0,10)}}...
                                                </span></h6>
                                            <h6 class="d-inline-block" style="font-size: 14px;"><span
                                                    class="badge  fw-light"
                                                    style="background-color: #3e3636;padding: 8px 8px;"
                                                    *ngIf="taskList.board.boardName.length<=10">
                                                    {{taskList.board.boardName.substring(0,10)}}
                                                </span>
                                            </h6>
                                            <span style="font-size: 12px;">
                                                {{taskList.startedDate}} <i class="fa-solid fa-right-long"
                                                    style="font-size:12px;"></i>
                                                {{taskList.endedDate}}
                                            </span>
                                        </div>
                                    </li>
                                </ul>

                                <ul class="list-unstyled my-prior-list container-fluid" *ngIf="this.status.overDueTab"
                                    style="overflow-y: scroll;height: 200px;scroll-behavior: smooth;">

                                    <li class="d-flex justify-content-between mx-auto p-2 taskcard-pointer container-fluid"
                                        *ngFor="let taskList of  this.OverdueTaskList"
                                        style="border-bottom: 1px solid #6d6e6f65;cursor: pointer;"
                                        [routerLink]="'/boards/'+taskList.board.id">
                                        <div>
                                            <span>
                                                <i class='bx bxs-checkbox'></i>
                                                <!-- <input type="checkbox" name="" id=""
                                                    class="form-check-input shadow-none"> -->
                                            </span>
                                            <span *ngIf="taskList.taskName.length<=11">
                                                {{taskList.taskName.substring(0,11) }}
                                            </span>
                                            <span *ngIf="taskList.taskName.length>11">
                                                {{taskList.taskName.substring(0,11) }}...
                                            </span>


                                        </div>
                                        <div>
                                            <h6 class="d-inline-block" style="font-size: 14px;"><span
                                                    class="badge  fw-light" style="background-color: #3e3636;"
                                                    *ngIf="taskList.board.boardName.length>10">
                                                    {{taskList.board.boardName.substring(0,10)}}...
                                                </span></h6>
                                            <h6 class="d-inline-block" style="font-size: 14px;"><span
                                                    class="badge  fw-light"
                                                    style="background-color: #3e3636;padding: 8px 8px;"
                                                    *ngIf="taskList.board.boardName.length<=10">
                                                    {{taskList.board.boardName.substring(0,10)}}
                                                </span>
                                            </h6>
                                            <span style="font-size: 12px;">
                                                {{taskList.startedDate}} <i class="fa-solid fa-right-long"
                                                    style="font-size:12px;"></i>
                                                {{taskList.endedDate}}
                                            </span>
                                        </div>
                                    </li>
                                </ul>


                                <ul class="list-unstyled my-prior-list container-fluid" *ngIf="this.status.completedTab"
                                    style="overflow-y: scroll;height: 200px;scroll-behavior: smooth;">

                                    <li class="d-flex justify-content-between mx-auto p-2 taskcard-pointer container-fluid"
                                        *ngFor="let taskList of  this.CompletedTaskList"
                                        style="border-bottom: 1px solid #6d6e6f65;cursor: pointer;"
                                        [routerLink]="'/boards/'+taskList.board.id">
                                        <div>
                                            <span>
                                                <i class='bx bxs-checkbox'></i>
                                                <!-- <input type="checkbox" name="" id=""
                                                    class="form-check-input shadow-none"> -->
                                            </span>
                                            <span *ngIf="taskList.taskName.length<=11">
                                                {{taskList.taskName.substring(0,11) }}
                                            </span>
                                            <span *ngIf="taskList.taskName.length>11">
                                                {{taskList.taskName.substring(0,11) }}...
                                            </span>


                                        </div>
                                        <div>
                                            <h6 class="d-inline-block" style="font-size: 14px;"><span
                                                    class="badge  fw-light" style="background-color: #3e3636;"
                                                    *ngIf="taskList.board.boardName.length>10">
                                                    {{taskList.board.boardName.substring(0,10)}}...
                                                </span></h6>
                                            <h6 class="d-inline-block" style="font-size: 14px;"><span
                                                    class="badge  fw-light"
                                                    style="background-color: #3e3636;padding: 8px 8px;"
                                                    *ngIf="taskList.board.boardName.length<=10">
                                                    {{taskList.board.boardName.substring(0,10)}}
                                                </span>
                                            </h6>
                                            <span style="font-size: 12px;">
                                                {{taskList.startedDate}} <i class="fa-solid fa-right-long"
                                                    style="font-size:12px;"></i>
                                                {{taskList.endedDate}}
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="w-50 user-info-cards mx-1 pt-3">
                        <div class="p-2">
                            <h4 class="m-0">Boards</h4>
                        </div>
                        <div class="">
                            <div class="row align-content-start my-prior-list"
                                style="overflow-y: scroll;height: 220px;">
                                <!-- start -->
                                <!-- style="height: 40px !important;" -->
                                <div class="col-6 mb-4 p-0 m-0 ps-1">
                                    <div routerLink="/create-board" style="cursor: pointer;"
                                        class="px-1 ps-3 py-0 d-flex justify-content-start align-items-center">
                                        <div
                                            class="user-show-projects  d-flex justify-content-center align-items-center rounded-3">
                                            <i class="fas fa-plus text-white " style="font-size: 20px;"></i>
                                        </div>
                                        <div class="ps-2 text-start">
                                            <h6 class="m-0 p-0" style="font-size: 18px;">Create Board</h6>
                                            <!-- <h6 class="m-0 p-0 text-muted">3 tasks due soon</h6> -->

                                        </div>
                                    </div>
                                </div>

                                <!-- style="height:40px !important;" -->
                                <div class="col-6 mb-4  taskcard-pointer" *ngFor="let board of homeBoards"
                                    style="cursor: pointer;">
                                    <div class=" px-1 ps-2 py-0 d-flex justify-content-start align-items-center"
                                        [routerLink]="'/boards/'+board.id">
                                        <div
                                            class="user-show-projects  d-flex justify-content-center align-items-center rounded-3">
                                            <i class="fas fa-list-squares text-white " style="font-size: 20px;"></i>
                                        </div>
                                        <div class="" *ngIf="board.boardName.length<=7">
                                            <h6 class="m-0 p-0 ps-2 " style="font-size: 18px;">
                                                {{board.boardName.substring(0,7) }}</h6>


                                        </div>
                                        <div class="" *ngIf="board.boardName.length>8">
                                            <h6 class="m-0 p-0 ps-2" style="font-size: 18px;">
                                                {{board.boardName.substring(0,7)}}...</h6>


                                        </div>
                                    </div>
                                </div>
                                <!-- end  -->


                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="mx-1 user-info-people w-100" style="height: auto;">
                        <div class="p-2">
                            <h4 class="m-0">Collaborators</h4>

                        </div>
                        <div class="p-2 px-4 wrapper ">
                            

                            <i id="left" class="fa-solid fa-angle-left" *ngIf="collaborators.length !=0"
                            [class.d-none]="this.carouselDiv == 0" 
                               (click)="iconClick('left')"></i>

                            <div class="carousel d-flex justify-content-start" id="carousel">
                                <!--(touchstart)="dragStart($event)" (touchmove)="dragging($event)" (touchend)="dragStop()"(touchstart)="dragStart($event)" -->
                                <div class="container-fluid text-start " style="height: 280px;" #firstDiv id="firstDiv">
                                    <!-- start  -->
                                    <!-- start no collaborators -->
                                    <div class="container-fluid text-center"
                                        *ngIf="collaborators.length==0 && status.hasDoneFetching">
                                        <div class="pt-4">
                                            <img class="mb-4 opacity-75"
                                                src="assets/img/3D/undraw_collaboration_re_vyau.svg" alt="" width="25%"
                                                style="max-width: 200px;">
                                            <h4 class="fw-bold opacity-75">No Collaborators</h4>
                                        </div>
                                    </div>
                                    <!-- end no collaborators -->
                                    <div class="rounded-3 mx-2 user-people"
                                        *ngFor="let collaborator of collaborators">
                                        <div class="flex-column d-flex justify-content-around align-items-center p-3"
                                            style="height:100%">
                                            <div class="d-flex flex-column  justify-content-center align-items-center">
                                                <div class="w-100 m-0 p-0">
                                                    <div class="m-0 p-0 d-flex justify-content-center align-items-center"
                                                        style="width: 100%;">



                                                        <div *ngIf="collaborator.imageUrl  == null && collaborator.username != null"
                                                            class="text-dark d-flex justify-content-center align-items-center bg-secondary"
                                                            style="width: 90px;height: 90px; border-radius: 50%;">
                                                            <h4>{{ collaborator.username &&
                                                                collaborator.username[0].toUpperCase() }}
                                                            </h4>
                                                        </div>

                                                    </div>

                                                    <div *ngIf="collaborator.imageUrl != null" class="mx-auto"
                                                        style="width: 90px;height: 90px; border-radius: 50%;">
                                                        <img *ngIf="collaborator.imageUrl != null" class="w-100 h-100"
                                                            homeCollaborator
                                                            style="border-radius: 100%;object-fit: cover;"
                                                            [src]="'http://localhost:8080/img/'+collaborator.imageUrl"
                                                            alt="">

                                                    </div>
                                                </div>
                                                <div class="pt-2 text-center">
                                                    <h5>{{collaborator.username}}</h5>
                                                    <h6 style="font-size: 13px;">
                                                        <p class="text-muted">Joined at:<span>{{collaborator.joinedDate|date}}</span> </p>
                                                    </h6>   
                                                </div>
                                            </div>
                                            <div class="">

                                                <button [routerLink]="'/users/'+collaborator.id+'/profile'"
                                                    class="btn btn-outline-dark">View
                                                    Profile</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end -->


                                </div>


                            </div>
                            <i id="right" class="fa-solid fa-angle-right" [class.d-none]="this.carouselDiv == scrollWidthDiv || ( collaborators.length == 1)"
                                 (click)="iconClick('right')"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>