<section class="container-fluid m-0 p-0">
    <!-- <div class="container-fluid"> -->
    <div class="row p-0 m-0" style="position: relative;">

        <div class="col-12 d-flex align-items-center justify-content-center profile-cover w-100"
            style="min-height:20vh;">
            <span style="width: 800px;">
                <h3 class="mx-auto fw-bold">Profile Settings</h3>
            </span>
        </div>
        <div class="col-12 m-0 p-0 w-100 " style="min-height: 72vh;">
            <div class="row profile-card mx-auto" style="background-color: #F6F7F9;border-radius: 7px;">
                <div class="col-3 h-100 profile-card-img"
                    style="border-bottom-left-radius: 7px;border-top-left-radius: 7px;">
                    <div class="row flex-column p-2 pt-2" style="height: 100%;">
                        <div class="col-12 d-flex justify-content-center align-items-center" style="height: 160px;">
                            <div class="imgholder">
                                <div *ngIf="user.imageUrl==null && this.imgValue==null"
                                    class="text-dark boardprofile d-flex justify-content-center align-items-center pt-3"
                                    [style]="'background:'+user.iconColor +'!important'">
                                    <h1 style="font-size:70px !important;" class="text-light mb-0 p-0 m-0">{{
                                        user.username &&
                                        user.username[0].toUpperCase() }}</h1>
                                </div>
                                <img *ngIf="(user.imageUrl != null && this.imgValue==null)"
                                    [src]="'http://localhost:8080/img/'+user.imageUrl" class=" boardprofile"
                                    alt="Board-Img" loading="lazy">
                                <img *ngIf="this.imgValue!=null" [src]="this.imgValue" class="boardprofile"
                                    alt="Board-Img" loading="lazy">

                                <span class="imgedit badge">
                                    <span class="fw-light" type="button" data-bs-toggle="dropdown">
                                        <i class="fas fa-edit"></i>
                                        Edit
                                    </span>
                                    <ul class="dropdown-menu p-1" style="font-size:14px !important;">
                                        <li class="mb-1">
                                            <input type="file" (change)="onFileChanged($event)" name="file" id="file"
                                                class="dropdown-item inputfile" value="Upload Image"
                                                accept="image/png, image/jpeg , image/jpg">
                                            <label for="file" class="d-block fw-light">Upload Image</label>
                                        </li>

                                        <li>
                                            <input type="button" name="textShow" i class="dropdown-item inputfile"
                                                value="Remove Images" />
                                            <label (click)="handleRemoveImage()" class="d-block fw-light">Remove
                                                Image</label>
                                        </li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                        <div
                            class="col-12 text-center my-2 d-flex flex-column justify-content-center algin-item-center">

                            <div class="">
                                <div class="ask-container " *ngIf="this.imgValue!=null">
                                    <small class="text-start">Are you sure?</small>
                                    <br>
                                    <button class="btn btn-primary btn-sm me-1 my-2  m-0"
                                        (click)="previewImg(true)">Yes</button>
                                    <button class="btn btn-primary btn-sm  my-2  m-0"
                                        (click)="previewImg(false)">No</button>
                                </div>
                            </div>
                            <h4>{{ userInfo.username | titlecase }}</h4>
                        </div>




                    </div>
                    <!-- </div> -->
                </div>
                <div class="col-9 h-100">

                    <div class="w-100">
                        <form #profile="ngForm" (ngSubmit)="saveProfile(profile)">
                            <div class="row d-flex justify-content-center align-items-center p-5 pt-4">

                                <!-- <div class="col-12"> -->
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="username" class="form-label fw-bold text-muted">User name</label>
                                        <input type="text" class="form-control shadow-none text-capitalize"
                                            placeholder="Enter your name" id="username" name=username
                                            #username="ngModel" [(ngModel)]="user.username"
                                            [class.is-invalid]="username.touched && username.invalid" required />
                                        <small *ngIf="!user.username && username.touched" class="text-danger">UserName
                                            is required</small>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="email" class="form-label fw-bold text-muted">Email</label>
                                        <input type="text" class="form-control shadow-none"
                                            placeholder="Enter your email" name=email #email="ngModel" id="email"
                                            [(ngModel)]="user.email" [class.is-invalid]="email.touched && email.invalid"
                                            required />
                                        <small *ngIf="!user.email && email.touched" class="text-danger">Email is
                                            required</small>
                                    </div>
                                </div>
                                <div class="col-6 ">
                                    <div class="mb-3">
                                        <label for="phone" class="form-label fw-bold text-muted">Phone</label>
                                        <input type="text" class="form-control shadow-none" id="phone"
                                            placeholder="Enter your phone" name=phone [(ngModel)]="user.phone" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="position" class="form-label fw-bold text-muted">Position</label>
                                        <input type="text" class="form-control shadow-none text-capitalize"
                                            id="position" placeholder="Enter your position" name=position
                                            [(ngModel)]="user.position" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="exampleGender"
                                            class="form-label fw-bold text-muted">Gender</label><br>
                                        <label for="male" class="form-check-label pe-1">Male</label>
                                        <input type="radio" class="form-check-input" id="male" name="gender" [value]="1"
                                            [(ngModel)]="user.gender" />
                                        &nbsp; &nbsp; &nbsp;
                                        <label for="female" class="form-check-label pe-1">Female</label>
                                        <input type="radio" class="form-check-input" id="female" name="gender"
                                            [value]="0" [(ngModel)]="user.gender" />

                                    </div>
                                </div>

                                <div class="col-6 ">
                                    <div class="mb-5">
                                        <label for="bio" class="form-label fw-bold text-muted">Bio </label>
                                        <textarea class="form-control shadow-none textarea-box text-capitalize" id="bio"
                                            rows="3" placeholder="Write something about your bio..." name=bio
                                            [(ngModel)]="user.bio"></textarea>

                                        <!-- end modal box -->
                                    </div>
                                </div>
                                <div class="mb-3 mt-3 text-end">

                                    <button (click)="cencelProfile()" type="button" class="btn"
                                        style="background-color: #6c757d50 !important;color: black;">Cancel</button>
                                    <button type="submit" class="btn btn-primary ms-2"
                                        [class.disabled]="!user.username || !user.email">Save </button>

                                </div>

                                <!-- </div> -->
                            </div>
                        </form>
                    </div>



                </div>
            </div>

        </div>
    </div>
    <!-- </div> -->
</section>