<section class="container-fluid py-5 ">
    <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <!-- <div class="row card-title">
                            <h1 class="text-center">Public profile</h1>
                        </div>   -->
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <div class="mb-3 mx-auto imgholder">

                                <div *ngIf="user.imageUrl==null && this.imgValue==null" class="text-dark boardprofile d-flex justify-content-center align-items-center bg-secondary">
                                <h1>{{ user.username &&  user.username[0].toUpperCase() }}</h1>
                                </div>
                                <img *ngIf="(user.imageUrl != null && this.imgValue==null)"  [src]="'http://localhost:8080/img/'+user.imageUrl" class=" boardprofile" alt="Board-Img" loading="lazy" >
                                <img *ngIf="this.imgValue!=null"  [src]="this.imgValue" class=" boardprofile" alt="Board-Img" loading="lazy" >

                                <span class="imgedit badge">
                                    <span class="fw-light" type="button" data-bs-toggle="dropdown">
                                        <i class="fas fa-edit"></i>
                                        Edit
                                    </span>

                                    <ul class="dropdown-menu p-1 text-center">
                                    <li>

                                    <input type="file" (change)="onFileChanged($event)" name="file" id="file"  class="dropdown-item inputfile" value="Upload Image" accept="image/png, image/jpeg , image/jpg">
                                    <label for="file" class="d-block fw-light">Upload Image</label>
                                    </li>
                                    <li><input type="button" name="textShow" id="btn"  class="dropdown-item inputfile" value="Remove Images" (click)="textImg()"/>
                                        <label for="btn" class="d-block fw-light">Remove Image</label>
                                    </li>
                                    </ul>
                                </span>
                            </div>
                        </div>

                            <div class="text-end" *ngIf="this.imgValue!=null">
                            <div class="ask-container">
                                <small class="text-start">Are you sure?</small>
                                <br>
                                <button class="btn btn-primary btn-sm me-1 my-2  m-0" (click)="previewImg(true)">Yes</button>
                                <button class="btn btn-primary btn-sm  my-2  m-0" (click)="previewImg(false)">No</button>
                            </div>
                            </div>


                        <div class="col-12">

                        <div class="card my-2">
                                <div class="card-body py-5 ">
                                    <div class="col-12">
                                            <!-- <h1>Info</h1> -->
                                    </div>
                                    <div class="row card-title" *ngIf="userInfo.username">
                                        <div class="form-label float-start col-4">Username :</div>
                                        <div class="col-8">{{ userInfo.username | titlecase }}</div>
                                    </div>
                                    <div class="row card-title" *ngIf="userInfo.bio">
                                        <div class="form-label float-start col-4">Bio :</div>
                                        <div class="col-8">{{ userInfo.bio | titlecase }}</div>
                                    </div>
                                    <div class="row card-title" *ngIf="userInfo.email">
                                        <div class="form-label float-start col-4">Email :</div>

                                        <div class="col-8">{{ userInfo.email }}</div>

                                    </div>
                                    <div class="row card-title" *ngIf="userInfo.position">
                                        <div class="form-label float-start col-4">Position :</div>

                                        <div class="col-8">{{ userInfo.position  | titlecase }}</div>
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 ">
                <form #profile="ngForm" (ngSubmit)="saveProfile(profile)">
                    <div class="row d-flex justify-content-center align-items-center">

                        <div class="col-12">

                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control shadow-none text-capitalize" placeholder="Enter your name" id="username" name=username #username="ngModel"  [(ngModel)]="user.username" [class.is-invalid]="username.touched && username.invalid" required/>
                                <small *ngIf="!user.username && username.touched" class="text-danger">UserName is required</small>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="text" class="form-control shadow-none" placeholder="Enter your email" name=email #email="ngModel" id="email" [(ngModel)]="user.email" [class.is-invalid]="email.touched && email.invalid" required/>
                                <small *ngIf="!user.email && email.touched" class="text-danger">Email is required</small>
                            </div>                            
                            <div class="mb-3">
                                <label for="phone" class="form-label">Phone</label>
                                <input type="text" class="form-control shadow-none" id="phone" placeholder="Enter your phone" name=phone  [(ngModel)]="user.phone"/>
                            </div>
                            <div class="mb-3">
                                <label for="exampleGender" class="form-label">Gender</label><br>
                                <label for="male" class="form-check-label pe-1">Male</label>
                                <input type="radio" class="form-check-input" id="male" name="gender" [value]="1"  [(ngModel)]="user.gender"  />
                                &nbsp; &nbsp; &nbsp;
                                <label for="female" class="form-check-label pe-1">Female</label>
                                <input type="radio" class="form-check-input" id="female" name="gender" [value]="0" [(ngModel)]="user.gender" />

                            </div>
                            <div class="mb-3">
                                <label for="position" class="form-label">Position</label>
                                <input type="text" class="form-control shadow-none text-capitalize" id="position" placeholder="Enter your position" name=position [(ngModel)]="user.position"/>
                            </div>
                            <div class="col-12 ">
                                <div class="mb-5">
                                    <label for="bio" class="form-label">Bio </label>
                                    <textarea class="form-control shadow-none textarea-box text-capitalize" id="bio"  rows="3" placeholder="Write something about your bio..." name=bio [(ngModel)]="user.bio"></textarea>
                                    <small class="float-end fw-bold mt-2" data-bs-toggle="modal" style="cursor: pointer;color: red;opacity: 80%;" data-bs-target="#staticBackdrop">Change your password</small>                                    

                <!-- start modal box -->
                                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                          <div class="modal-content p-2">
                                            <div class="modal-header border-0">
                                              <h1 class="modal-title fs-5" id="staticBackdropLabel">Change Your Password</h1>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="change-password-close-btn"></button>
                                            </div>
                                          <form #registerForm="ngForm">
                                            <div class="modal-body">
                                                <small class="text-danger m-2" *ngIf="this.status.changePassword.ok">{{this.status.changePassword.msg}}</small>
                                                <div class="m-2 mt-0">
                                                    <label for="currentpassword" class="form-label">Current Password</label>
                                                  <input type="password" class="form-control shadow-none" placeholder="Enter current password" id="currentpassword" name="userPass.currentPassword" [(ngModel)]="userPass.currentPassword"  ngModel required >                  
                                                  
                                                </div>
                                                <div class="m-2">
                                                    <label for="changepassword" class="form-label">Change Password</label>
                                                    <input type="password" class="form-control shadow-none" placeholder="Enter current change password" id="changepassword" name="userPass.changePassword" [(ngModel)]="userPass.changePassword" ngModel required >                   
                                                    
                                                  </div>
                                                  <div class="m-2">
                                                    <label for="confirmpassword" class="form-label">Confirm Password</label>
                                                    <input type="password" class="form-control shadow-none" placeholder="Enter current confirm password" id="confirmpassword" name="userPass.retypePassoword" [(ngModel)]="userPass.retypePassoword" ngModel required>                  
                                                    
                                                  </div>   
                                            </div>
                                            <div class="modal-footer">                                              
                                              <button type="button" class="btn btn-change" (click)="changePassword()" [disabled]="registerForm.invalid" >Change</button>
                                            </div>   
                                        </form>
                                          </div>
                                          
                                        </div>
                                      </div>
<!-- end modal box -->
                                </div>                                
                            </div>
                            <div class="mb-3 mt-3 float-end clearfix">
                                <button class="btn me-4">Cancel</button>
                                <button type="submit" class="btn btn-primary" [class.disabled]="!user.username || !user.email">Save </button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>