<div class="container-fluid ">
    <div class="d-flex justify-content-between align-items-center border-board mb-3">
        <h2 class="pb-1">Archive Boards</h2>
      </div>
    <div cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="drop($event)" [cdkDropListData]="boards" class="row  d-flex justify-content-start align-items-center m-0 p-0 flex-wrap" >
        <board cdkDrag *ngFor="let board of boards" (restore-board)="restoreBoard($event)" [data]="board" class="col-3"></board>
    </div>
</div>

