<section class="container-fluid d-flex justify-content-center align-items-center w-100" style="height:92vh;">
    <div class="bg-snow d-flex  text-black-50  shadow-sm my-auto rounded-2 shadow-sm" style="width:950px !important;max-width:950px;height:500px;max-height:500px;">
        <div style="width:50%;border-top-left-radius:5px;border-bottom-left-radius: 5px;" class="overflow-hidden">
            <img class="w-100 h-100 " style="object-fit: cover;" src="/assets/img/create-board.jpg"/>
        </div>
        <form (ngSubmit)="createBoard()" class="d-flex justify-content-center align-items-center" style="width:50%;max-height: 100% !important;" >
            <div class="row d-flex justify-content-center align-items-center p-5 h-100" style="max-height:100% !important;">
                <h5 class="text-center mb-2 thm">Create Your Own Board Here</h5>
                <div class="col-12 py-2">
                    <div class="my-1">              
                        <label for="floatingInput" class=" my-1 thm " style="font-size:13px;">Board Name</label>
                        <input  type="text" class="form-control shadow-none" name=boardName id="floatingInput" placeholder="Enter board's name" [(ngModel)]="board.boardName" [class.is-invalid]="status.error.boardName.hasError" required/>
                        <small *ngIf="status.error.boardName.hasError" class="text-danger" style="font-size:10px;">{{ status.error.boardName.msg }}</small>
                    </div>
                    <div class="col-12 my-1">
                        <label for="floatingTextarea2" class=" my-1 thm" style="font-size:13px;">Description (option)</label>             
                        <textarea class="form-control shadow-none" name="description" id="floatingTextarea2" placeholder="Enter board's description" style="height: 80px" [(ngModel)]="board.description" ></textarea>
                    </div>
                    <div class="col-12  my-1">
                        <label for="invite" class="form-label  my-1 thm" style="font-size:13px;">Invite Members</label>
                        <div  class="d-flex gap-1 align-items-center">
                            <span *ngFor="let idx of emails.length >  0 ? [0] : []" (click)="setUpdateEmail(idx)"  class="badge d-inline-block fs-6 fw-light my-2" id="mail-capsule">
                                 {{ emails[idx] }}
                                 <span (click)="removeEmail(idx)" class="mx-1 fs-6 fas fa-close"></span>
                            </span>
                            <div *ngIf="emails.length > 1" class="dropdown" id="mails-dropdown">
                              <div data-bs-toggle="dropdown" data-bs-target="#mails-dropdown" class="p-1 d-flex justify-content-center align-items-center" style="width:25px;height:25px;background:#eee;border-radius: 100%;">
                                <span>{{ emails.length - 1}}+</span>
                              </div>
                              <ul   class="dropdown-menu">
                                <li *ngFor="let email of emails;let idx = index;" class="dropdown-item d-flex justify-content-between align-items-center">
                                    <span (click)="setUpdateEmail(idx)" >{{ email }}</span>
                                    <span (click)="removeEmail(idx)" class="mx-1 fs-6 fas fa-close"></span>
                                </li>
                              </ul>
                            </div>
                        </div>
                    </div>

                    <div class="w-100">
                            <input 
                                name="emailStr" 
                                [(ngModel)]="emailStr" (keyup)="onChange($event)" 
                                [value]="emailStr" [class.is-invalid]="status.error.email.hasError" 
                                id="invitedEmail" 
                                [matAutocomplete]="emailAutoComplete"
                                class="form-control shadow-none"
                                placeholder="member@gmail.com" 
                            />
                            <mat-autocomplete #emailAutoComplete="matAutocomplete" >
                                <mat-option *ngFor="let email of filterEmails" [value]="email">
                                    {{ email }}
                                </mat-option> 
                            </mat-autocomplete>
                    </div>
                    <small class="text-danger">{{ status.error.email.msg }}</small>
                    <div class="my-3 d-flex justify-content-end gap-3">
                        <button type="reset" class="btn btn-sm px-3 ">Cancel</button>
                        <button class="btn bg-thm text-light btn-sm px-3" [disabled]="status.isLoading">{{ status.isLoading ? 'Creating...' : 'Create'}}</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</section>