<navbar></navbar>

<main class="p-0 m-0 d-flex gap-0" id="main">
    <sidebar></sidebar>

    <div id="main-area" class="m-0 p-3 board-con" [class.sidebar-hide]="!toggleStore.isShow">
        <section class="container-fluid ">
            <div class="container card py-5">
                <form (ngSubmit)="createBoard()" novalidate>
                    <div class="row d-flex justify-content-center align-items-center">
                        <h1 class="text-center">Create Board</h1>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Board Name</label>
                                <input type="text" class="form-control is" placeholder="Enter board name" name=boardName [(ngModel)]="board.boardName" [class.is-invalid]="status.error.boardName.hasError" required/>
                                <small *ngIf="status.error.boardName.hasError" class="text-danger">{{ status.error.boardName.msg }}</small>
                            </div>
                            <div class="col-12 ">
                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                                    <textarea class="form-control textarea-box"  rows="3" placeholder="Write something about your board..." [(ngModel)]="board.description" name="description" [class.is-invalid]="status.error.description.hasError" required ></textarea>
                                    <small *ngIf="status.error.description.hasError" class="text-danger">{{ status.error.description.msg }}</small>
                                </div>
                            </div>
                            <div class="col-12 emailbox" [style]="emails.length > 3 ? 'height:100px !important;' : 'height:auto;'">
                                <label for="invite" class="form-label">Invite Members</label>
                                <div  class="d-flex gap-1 flex-wrap ">               
                                    <span *ngFor="let email of emails;let idx =index" (click)="setUpdateEmail(idx)"  class="badge d-inline-block fs-6 fw-light py-2 my-2" id="mail-capsule">
                                         {{email}}   
                                         <span (click)="removeEmail(idx)" class="mx-1 fs-6 fas fa-close"></span>
                                    </span>
                                </div>
                              
                            </div>
                            <input class="form-control mt-2" name="emailStr" [(ngModel)]="emailStr" (keyup)="onChange($event)" [value]="emailStr" [class.is-invalid]="status.error.email.hasError" id="invite" placeholder="member@gmail.com" />
                            <small>{{ status.error.email.msg }}</small>
                            <div class="mb-3 mt-3 float-end">
                                <button class="btn me-4">Cancel</button>
                                <button class="btn btn-primary">{{ status.isLoading ? 'Creating Board' : 'Create Board'}}</button>
                            </div>
                            
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</main>