<section class="container-fluid d-flex justify-content-center align-items-center w-100" style="height:92vh;">
    <div class="container d-flex justify-content-center align-item-center w-auto rounded-1 text-black card h-auto shadow-sm my-auto" style="width:650px !important;max-width:650px;">
        <div class="w-50 bg-primary">
            <img class="w-100 h-100" src="/assets/img/create-board.png"/>
        </div>
        <form (ngSubmit)="createBoard()" class="w-50" >
            <div class="row d-flex justify-content-center align-items-center">
                <h1 class="text-center mb-3 opacity-75">Create Board</h1>
                <div class="col-8">
                    <div class="form-floating mb-3">              
                        
                        <input  type="text" class="form-control shadow-none" name=boardName id="floatingInput" placeholder="UserName" [(ngModel)]="board.boardName" [class.is-invalid]="status.error.boardName.hasError" required/>
                        <label for="floatingInput" class="text-black-50">Board Name</label>
                        <small *ngIf="status.error.boardName.hasError" class="text-danger">{{ status.error.boardName.msg }}</small>
                    </div>
                    <div class="col-12 ">
                        <div class="form-floating mb-3">
                            
                            <textarea class="form-control shadow-none" name="description" id="floatingTextarea2" placeholder="Description" style="height: 100px" [(ngModel)]="board.description" ></textarea>
                            <label for="floatingTextarea2" class="text-black-50">Description</label>
                            <!-- <small *ngIf="status.error.description.hasError" class="text-danger">{{ status.error.description.msg }}</small> -->
                
                        </div>
                    </div>
                    <div class="col-12 emailbox" [style]="emails.length > 3 ? 'height:100px !important;' : 'height:auto;'">
                        <label for="invite" class="form-label text-black-50">Invite Members</label>
                        <div  class="d-flex gap-1 flex-wrap ">
                            <span *ngFor="let email of emails;let idx =index" (click)="setUpdateEmail(idx)"  class="badge d-inline-block fs-6 fw-light py-2 my-2" id="mail-capsule">
                                 {{email}}
                                 <span (click)="removeEmail(idx)" class="mx-1 fs-6 fas fa-close"></span>
                            </span>
                        </div>

                    </div>

                    <div class="w-100 form-floating">
                            <input 
                             name="emailStr" 
                            [(ngModel)]="emailStr" (keyup)="onChange($event)" 
                            [value]="emailStr" [class.is-invalid]="status.error.email.hasError" 
                            id="invitedEmail" 
                            [matAutocomplete]="emailAutoComplete"
                            class="form-control shadow-none"
                            placeholder="member@gmail.com" 
                            />
                            <label for="invitedEmail" class="text-black-50">member@gmail.com</label>
                            <mat-autocomplete #emailAutoComplete="matAutocomplete" >
                                <mat-option *ngFor="let email of filterEmails" [value]="email">
                                    {{ email }}
                                </mat-option>
                            </mat-autocomplete>
                    </div>
                    <small class="text-danger">{{ status.error.email.msg }}</small>
                    <div class="my-3 d-flex justify-content-end gap-3">
                        <button type="reset" class="btn btn-sm px-3 ">Cancel</button>
                        <button class="btn bg-thm text-light btn-sm px-3" [disabled]="status.isLoading">{{ status.isLoading ? 'Creating...' : 'Create'}}</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</section>