<navbar></navbar>

<main class="p-0 m-0 d-flex gap-0" id="main">
   <sidebar></sidebar>
    <div id="main-area" class="m-0 p-0 pt-3" [class.sidebar-hide]="!toggleStore.isShow">
        <!-- container-fluid -> w-100 some changes -->
        <div class="w-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="px-5 col-12 d-flex justify-content-between align-items-center">
                        <h1 class="text-muted h2 my-1 mx-3">{{ board.boardName && board.boardName | titlecase }}</h1>
                        <div class="d-flex gap-2">
                            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#invite-modal"><i class="fa-solid fa-user-plus mx-1"></i>Invite</button>
                            <button class="btn btn-sm btn-primary"><i class="fa-solid fa-users mx-1"></i>Members</button>
                        </div>
                         <!--  model for invite members -->
                        <div class="modal fade" id="invite-modal">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="model-title h4 text-muted">
                                            Invite Members
                                        </div>
                                        <button class="btn-close" data-bs-dismiss="modal" data-bs-target="#invite-modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form (ngSubmit)="saveData()" class="form">
                                            <div id="invitedEmails">
                                                <div  class="d-flex gap-1 flex-wrap my-1 ">
                                                    <span *ngFor="let email of emails ; let idx = index " (click)="updateEmail(idx)" class="badge d-inline-block fs-6 fw-light py-2 my-2 " id="mail-capsule">
                                                         {{email}}
                                                         <span (click)="removeEmail(idx)" class="mx-1 fs-6 fas fa-close"></span>
                                                    </span>
                                                </div>
                                            </div>
                                           <div class="form-floating">
                                                <input type="text" id="invite-emails" class=" py-1 form-control" placeholder="member@gmail.com" name="email" 
                                                [(ngModel)]="email" (keyup)="onChange($event)" [class.is-invalid]="status.error.email.hasError"
                                                [value]="email" [matAutocomplete]="emailAutoComplete">         
                                                <label for="invite-emails text-muted">member@gmail.com</label> 
                                                <mat-autocomplete #emailAutoComplete="matAutocomplete" >
                                                    <mat-option *ngFor="let email of filterEmails" [value]="email">
                                                        {{ email }}
                                                    </mat-option>
                                                </mat-autocomplete>                                     
                                           </div>
                                           <small class="text-danger">{{ status.error.email.msg }}</small>
                                           <div class="form-group my-2 d-flex justify-content-end gap-1">
                                                <button class="btn btn-sm" data-bs-dismiss="modal" data-bs-target="#invite-modal">Cancel</button>
                                                <button type="submit" class="btn btn-primary btn-sm " [disabled]="status.isInviting">{{ status.isInviting ? 'Inviting' : 'Invite'}}</button>
                                           </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
                <div class="row">                   
                        <div *ngIf="!status.isLoading" class="scrolling-wrapper d-flex  px-5 bg-transparent">
                            <task-card-container *ngFor="let stage of stages" [stage]="stage" [task-cards]="taskCardsMap" ></task-card-container>
                            <div>
                                <button (click)="toggleIsAddStage()" *ngIf="!status.isAddStage" class="btn btn-secondary btn-sm px-5 mt-2">
                                    <i class="fa-solid fa-plus mx-1"></i> Add Stage
                                </button>
                                <div *ngIf="status.isAddStage" class="form mt-2">
                                    <input [(ngModel)]="stage.stageName" name="stageName" type="text" style="width:187.26px !important;" id="add-stage" placeholder="Stage Name" [class.is-invalid]="status.addingStageError.hasError" class="py-1 form-control py-1" />
                                    <span *ngIf="status.addingStageError.hasError" class="text-danger fs-0 my-0" style="font-size:11px !important;">{{ status.addingStageError.msg }}</span>
                                    <div class="d-flex justify-content-end gap-1 my-0">
                                        <button (click)="toggleIsAddStage()" class="btn  btn-sm my-1">Cancel</button>
                                        <button type="submit" (click)="handleAddStage()" class="btn btn-primary btn-sm my-1" [disabled]="status.isAddingStage" >{{ status.isAddingStage ? 'Adding' : 'Add' }}</button>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <loading [show]="status.isLoading" target="Tasks"></loading>
                  </div>   
            </div>
        </div>    
    </div>
</main>