<!-- container-fluid -> w-100 some changes -->
<div class="w-100 p-4">
    <div class="container-fluid">
        <div class="row  border-board w-100 ">
            <div class="px-5 pe-0 col-12 d-flex justify-content-between align-items-center">
                <!-- <h3 class="text-dark-50 h2 my-0 mx-3 bg-">{{ board.boardName && board.boardName | titlecase }}</h3> -->
                <div class=" d-flex p-0 m-0">
                    <span class="iconBoard rounded-4 m-0 d-flex justify-content-center align-items-center" >
                        <i class="bookmark-icon fa-regular fa-2x fa-star tw-color" ></i>
                        <!-- (click)="handleBookMark($event,data)" [class.fw-bold]="isBookMark()" -->
                    </span>
                    <input (focus)="setupEditBoard()" type="text" class="text-dark-50 h2 mx-3 board-input w-100 my-2 shadow-none board-input text-capitalize" (keydown)="handleUpdateBoardName($event)" [class.form-control]="status.isEditBoardName" placeholder="Enter board's name"  [(ngModel)]="board.boardName" >
            </div>
                <div class="d-flex gap-2">
                    <span class="">
                        <button class=" btn btn-sm myboard-btn btn-outline-secondary"  data-bs-toggle="dropdown" ><span>Export</span><i class="fa-solid fa-file-export"></i></button>
                        <ul class="dropdown-menu">
                            <li><input type="button" name="textShow" id="btn"  class="dropdown-item" value="PDF" (click)="exportTaskReport(pdf)"/>
                            <li><input type="button" name="textShow" id="btn"  class="dropdown-item" value="EXCEL" (click)="exportTaskReport(excel)"/>
                        </ul>
                        </span>
                    <!-- <button class="btn btn-sm myboard-btn btn-outline-secondary" id="invite-members"  routerLink="/boards/{{board.id}}/chat" ></button> -->
                    <button class="btn btn-sm myboard-btn btn-outline-secondary"  routerLink="/boards/{{board.id}}/chat">
                        <i class="fa-solid fa-comments"></i>
                        Chats</button>
                    <button class="btn btn-sm myboard-btn btn-outline-secondary" id="invite-members" data-bs-toggle="modal" data-bs-target="#invite-modal"><i class="fa-solid fa-user-plus mx-1"></i>Invite</button>
                    <button class="btn btn-sm myboard-btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
                        <i class="fa-solid fa-people-group"></i>
                      Members
                     </button>
                    </div>

                   <!-- Show offcanvas bar -->

                 <div class="offcanvas offcanvas-end" id="demo">
                  <div class="offcanvas-header shadow-sm" >
                    <h5 class="offcanvas-title" >Team Members</h5>
                    <button type="button" class="btn-close shadow-none" data-bs-dismiss="offcanvas"></button>

                    <span class="">
                      <button class=" btn btn-sm myboard-btn btn-outline-secondary"  data-bs-toggle="dropdown" ><span>Export</span><i class="fa-solid fa-file-export"></i></button>
                      <ul class="dropdown-menu">
                          <li><input type="button" name="textShow" id="btn"  class="dropdown-item" value="HTML" (click)="exportMemberReport(html)"/>
                          <li><input type="button" name="textShow" id="btn"  class="dropdown-item" value="EXCEL" (click)="exportMemberReport(excel)"/>
                            <li><input type="button" name="textShow" id="btn"  class="dropdown-item" value="PDF" (click)="exportMemberReport(pdf)"/>
                      </ul>
                      </span>

                    <!-- <button   class="btn btn-info mb-2" type="button" (click)="exportHtml()"> HTML  </button>
                    <button   class="btn btn-info mb-2" type="button" (click)="exportExcel()"> Excel </button>
                    <button   class="btn btn-info mb-2" type="button" (click)="exportPdf()">  PDF</button> -->

                  </div>
                  <div class="offcanvas-body " >

                    <!-- Showing views -->
                   <div class="container-fluid p-0 m-0">

                    <div class="col-12 hover-member p-2 mb-1 rounded-1 d-flex align-items-center justify-content-between p-0 m-0  member-container">

                        <div class="m-0 p-0 " [routerLink]="'/profile' ">
                            <div  class="d-inline-block mx-2 " id="profile-member">
                                <span *ngIf="board.user.imageUrl == null && board.user.username != null" class="text-light d-flex justify-content-center align-items-center bg-dark opacity-50" id="profile-member">{{ board.user.username[0].toUpperCase() }}</span>
                                <img  *ngIf="board.user.imageUrl != null" class="w-100 h-100" style="border-radius: 100%;object-fit: cover;" [src]="'http://localhost:8080/img/'+board.user.imageUrl"  alt="">
                            </div>
                            <div class="d-inline-block ps-1 fw-light text-muted">{{ board.user.username | titlecase }}<span style="font-size:15px;" class="mx-1">(owner)</span></div>
                            </div>
                            <br>
                        </div>

                    <div *ngFor="let boardHasUser of boardsHasUsers;"  class="row p-0 m-0  d-flex justify-content-center align-items-center">

                        <!-- start col-12 -->
                        <div [routerLink]="boardHasUser.user.id == userStore.user.id ? '/profile' : '/users/'+boardHasUser.user.id+'/profile' " class="col-12 hover-member p-2 mb-1 rounded-1 d-flex align-items-center justify-content-between p-0 m-0  member-container">

                        <div class="m-0 p-0 ">
                            <div  class="d-inline-block mx-2 " id="profile-member">
                                <span *ngIf="boardHasUser.user.imageUrl == null && boardHasUser.user.username != null" class="text-light d-flex justify-content-center align-items-center bg-dark opacity-50" id="profile-member">{{ boardHasUser.user.username[0].toUpperCase() }}</span>
                                <img  *ngIf="boardHasUser.user.imageUrl != null" class="w-100 h-100" style="border-radius: 100%;object-fit: cover;" [src]="'http://localhost:8080/img/'+boardHasUser.user.imageUrl"  alt="">
                            </div>
                            <div class="d-inline-block ps-1 fw-light text-muted">{{ boardHasUser.user.username | titlecase }}</div>
                            </div>
                            <br>
                            <small *ngIf="!boardHasUser.joinedStatus" class="d-flex justify-content-center align-content-center badge text-dark text-muted">
                                <i class='bx bx-pulse bx-sm my-1'></i>
                            <span class="pt-2 fw-light">pending</span>
                            </small>
                        </div>
                    <!-- end col-12 -->
                </div>
                </div>
                      <!-- </tr> -->
             </div>
        </div>
                     <!-- View container end!-->

                 <!--  model for invite members -->
                <div class="modal fade" id="invite-modal" data-bs-backdrop="static" data-bs-keyword="false">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="model-title h4 text-muted">
                                    Invite Members
                                </div>
                                <button class="btn-close" data-bs-dismiss="modal" data-bs-target="#invite-modal"></button>
                            </div>
                            <div class="modal-body">
                                <form (ngSubmit)="inviteMembers()" class="form">
                                    <div id="invitedEmails">
                                        <div  class="d-flex gap-1 flex-wrap my-1 ">
                                            <span *ngFor="let email of emails ; let idx = index " (click)="updateEmail(idx)" class="badge d-inline-block fs-6 fw-light py-2 my-2 " id="mail-capsule">
                                                 {{email}}
                                                 <span (click)="removeEmail(idx)" class="mx-1 fs-6 fas fa-close"></span>
                                            </span>
                                        </div>
                                    </div>
                                   <div class="form-floating">
                                        <input type="text" id="invite-emails" class=" py-1 form-control" placeholder="member@gmail.com" name="email"
                                        [(ngModel)]="email" (keyup)="onChange($event)" [class.is-invalid]="status.error.email.hasError"
                                        [value]="email" [matAutocomplete]="emailAutoComplete">
                                        <label for="invite-emails text-muted">member@gmail.com</label>
                                        <mat-autocomplete #emailAutoComplete="matAutocomplete" >
                                            <mat-option *ngFor="let email of filterEmails" [value]="email">
                                                {{ email }}
                                            </mat-option>
                                        </mat-autocomplete>
                                   </div>
                                   <small class="text-danger">{{ status.error.email.msg }}</small>
                                   <div class="form-group my-2 d-flex justify-content-end gap-1">
                                        <button class="btn btn-sm" data-bs-dismiss="modal" data-bs-target="#invite-modal">Cancel</button>
                                        <button type="submit" class="btn text-light bg-thm btn-sm " [disabled]="status.isInviting">{{ status.isInviting ? 'Inviting' : 'Invite'}}</button>
                                   </div>
                                </form>
                            </div>
                        </div>
                    </div>
                 </div>

            </div>
        </div>
        <div class="row">
                <div id="task-container" *ngIf="!status.isLoading" class="scrolling-wrapper d-flex  px-5 bg-transparent">
                    <task-card-container *ngFor="let stage of stages" [stage]="stage" [task-cards]="taskCardsMap" [stages]="stages" (deleteStage)="handleDeleteStage($event)" [relations]="getRelationContainers(stage)" (change-stage)="handleChangeStage($event)" (add-task)="handleAddTask($event)" [board]="board" (show-offcanvas)="handleShowOffCanvas($event)" ></task-card-container>
                    <div>
                        <button (click)="toggleIsAddStage()" *ngIf="!status.isAddStage" class="btn btn-sm px-5 mt-2 h1">
                            <i class="fa-solid fa-plus mx-1"></i> Add Stage
                        </button>
                        <div *ngIf="status.isAddStage" class="form mt-2">
                            <input [(ngModel)]="stage.stageName" name="stageName" type="text" style="width:187.26px !important;" id="add-stage" placeholder="Stage Name" [class.is-invalid]="status.addingStageError.hasError" class="py-1 form-control py-1 shadow-none" />
                            <span *ngIf="status.addingStageError.hasError" class="text-danger fs-0 my-0 fw-bold" style="font-size:11px !important;">{{ status.addingStageError.msg }}</span>
                            <div class="d-flex justify-content-end gap-1 my-0">
                                <button (click)="toggleIsAddStage()" class="btn  btn-sm my-1">Cancel</button>
                                <button type="submit" (click)="handleAddStage()" class="btn btn-primary btn-sm my-1" [disabled]="status.isAddingStage" >{{ status.isAddingStage ? 'Adding' : 'Add' }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <task-offcanvas (updateComment)="setupUpdateComment($event)" [task]="offCanvasTask" [tasks]="taskCardsMap"  [board]="board" [members]="members" [isLoading]="status.isLoadingOffcanvas" ></task-offcanvas>
                <span data-bs-toggle="offcanvas" data-bs-target="#task-offcanvas" id="task-offcanvas-btn" class="d-none">clone</span>

                <loading [show]="status.isLoading" target="Tasks"></loading>
          </div>
    </div>
</div>


<!-- modal for updateComment -->
<div class="modal fade" id="cmt-modal" data-bs-backdrop="static" data-bs-keyword="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
             <div class="modal-header">
                 <div class="model-title h4 text-muted">
                      Edit Comment
                 </div>
                 <button class="btn-close" data-bs-dismiss="modal" data-bs-target="#cmt-modal"></button>
             </div>
             <div class="modal-body">
                 <form class="form"  (ngSubmit)="setupUpdateComment(comment)" >
                     <div id="edit-cmt">
                        <emoji-mart *ngIf="showEmojis" (emojiSelect)="addEmojiToComment($event)" id="emoji-mart"></emoji-mart>
                        <i (click)="toggleEmojis()" class="fa-regular fa-face-smile" id="smile"></i>
                         <input type=text name="comment" id="comment" class="form-control" [(ngModel)]="comment.comment" placeholder="Enter Comment">
                         <!-- <input type=text name="comment" id="comment" class="form-control" [(ngModel)]="tempComment" placeholder="Enter Comment"> -->
                     </div>
                     <div class="d-flex justify-content-end gap-1 my-0 mt-2">
                        <button (click)="handleCancel()" class="btn btn-sm" >Cancel</button>
                        <button type="submit" [disabled]="comment.comment == '' " class="btn text-light bg-thm btn-sm">Update</button>
                     </div>

                 </form>
             </div>
        </div>
    </div>

 </div>
