

<!-- <div class="container-fluid" > -->
        <div class="container-fluid p-0  w-auto mw-100 h-100 bg-chat-color" >
            <!-- <div class="row">          -->
                <div class="container">
                    <div class="row chat__box__container px-4">
                        <div class="col-12 chat__box__personName ps-0 p-3">
                            <div class="chat__toName">
                                <span class="opacity-50">To :</span>
                                <span> {{this.saveBoard.boardName}}</span>
                            </div>
                        </div>
                        <div class="col-12 chat__box__textContainer p-0 m-0">
                            <div class="chat__text ">                                                            
                                <div class=" chat__message" key="other_users">
                                    <!-- message -->
                                    <div class="d-flex p-3 pt-4">
                                        
                                        <div class="message__profile ">
                                            <img src="assets/img/board-profile-img/gru.jpg" alt="" class="" style="object-fit:cover;">
                                        </div>
                                        
                                        <div class="position-relative">                                        
                                            <small class="ps-3 username-chat">Zayar</small>       
                                        <div class=" text-message p-2">
                                            <p class="p-0 m-0" id="message" style="color: #050505;">
                                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima modi, cumque libero inventore labore molestias facilis, mollitia explicabo, recusandae sint repudiandae dolores cum eius aperiam vitae fugiat beatae unde possimus?
                                            </p>                                            
                                        </div>
                                        <small class="username-time float-end">11:30 pm</small>   
                                        </div>
                                    </div>
                                    <!-- message -->
                                    
                                    
                                </div>
                                <div class="chat__message" key="me">
                                    <div class="d-flex p-3 justify-content-start flex-row-reverse">                                       
                                        <div class="text_user_meesage  p-2">
                                            <!-- ပုံဆိုရင် text-user-message မှာ bg-white ဖြုတ် -->
                                            <!-- <p class="p-0 m-0" id="message">
                                            GoodNight        
                                            </p> -->
                                            <p class="p-0 m-0" id="img">
                                                <img src="assets/img/board-profile-img/gru.jpg" alt="">
                                            </p>
                                        </div>
                                        
                                    </div>                                
                                    
                                </div>                                                                                                                                                                                                                                                   
                            </div>
                            <div class="chat__box__input">
                                <form action="" (ngSubmit)="sentMessage(this.BoardMessage.content)">
                                <div class="chat__box__input--padding">
                                    <div class="input-group input-group-md chat__textbox me-2">                                        
                                        <span class="input-group-text" id="emoji">
                                            <i class='bx bx-sm bxs-file'></i>
                                        </span>
                                        <span class="input-group-text" id="emoji">
                                            <i class='bx bx-sm bxs-image'></i>
                                        </span>
                                        <input type="text" class="form-control shadow-none rounded-3" placeholder="Chat Something..."  name="message" [(ngModel)]="this.BoardMessage.content"  >
                                        <span class="input-group-text border-0" id="emoji">
                                            <i class='bx bx-sm bxs-smile'></i>
                                        </span>
                                        <button type="submit" class="input-group-text   border-0 " id="emoji" >
                                            <i class="bx bx-sm bxs-send" [class.text-muted]="!this.BoardMessage.content" ></i>
                                            
                                        </button>
                                    </div>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    <!-- </div> -->
