

    <!-- <div class="container-fluid" > -->
        <div class="container-fluid" style="height: 100vh !important;">
            <div class="row" style="height:95%;">         
                <div class="col-9 bg-secondary">
                    <div class="row chat__box__container">
                        <div class="col-12 chat__box__personName ps-0 p-3">
                            <div class="chat__toName">
                                <span class="opacity-50">To :</span>
                                <span> May Panchi Aung</span>
                            </div>
                        </div>
                        <div class="col-12 chat__box__textContainer p-0 m-0">
                            <div class="chat__text ">                                                            
                                <div class=" chat__message" key="other_users">
                                    <!-- message -->
                                    <div class="d-flex p-3">
                                        
                                        <div class="message__profile ">
                                            <img src="download (1).jpg" alt="" class="" style="object-fit:cover;">
                                        </div>
                                    
                                        <div class="bg-white text-message p-2">
                                            <p class="p-0 m-0" id="message">
                                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima modi, cumque libero inventore labore molestias facilis, mollitia explicabo, recusandae sint repudiandae dolores cum eius aperiam vitae fugiat beatae unde possimus?
                                            </p>
                                        </div>
                                    </div>
                                    <!-- message -->
                                    <div class="d-flex p-3">
                                        
                                        <div class="message__profile ">
                                            <img src="download (1).jpg" alt="" class="" style="object-fit:cover;">
                                        </div>
                                    
                                        <div class="bg-white text-message p-2">
                                            <p class="p-0 m-0" id="message">
                                                အိပ်တော့ 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="chat__message" key="me">
                                    <div class="d-flex p-3 justify-content-start flex-row-reverse">                                       
                                        <div class="text_user_meesage  p-2">
                                            <!-- ပုံဆိုရင် text-user-message မှာ bg-white ဖြုတ် -->
                                            <!-- <p class="p-0 m-0" id="message">
                                            GoodNight        
                                            </p> -->
                                            <p class="p-0 m-0" id="img">
                                                <img src="download (1).jpg" alt="">
                                            </p>
                                        </div>
                                    </div>
                                </div>                              
                                <div class="chat__message" key="me">
                                    <div class="d-flex p-3 justify-content-start flex-row-reverse">                                       
                                        <div class="text_user_meesage  p-2">
                                            <!-- ပုံဆိုရင် text-user-message မှာ bg-white ဖြုတ် -->
                                            <!-- <p class="p-0 m-0" id="message">
                                            GoodNight        
                                            </p> -->
                                            <p class="p-0 m-0" id="img">
                                                <img src="download (1).jpg" alt="">
                                            </p>
                                        </div>
                                    </div>
                                </div>                              
                                <div class="chat__message" key="me">
                                    <div class="d-flex p-3 justify-content-start flex-row-reverse">                                       
                                        <div class="text_user_meesage  p-2">
                                            <!-- ပုံဆိုရင် text-user-message မှာ bg-white ဖြုတ် -->
                                            <!-- <p class="p-0 m-0" id="message">
                                            GoodNight        
                                            </p> -->
                                            <p class="p-0 m-0" id="img">
                                                <img src="download (1).jpg" alt="">
                                            </p>
                                        </div>
                                    </div>
                                </div>                              
                                <div class="chat__message" key="me">
                                    <div class="d-flex p-3 justify-content-start flex-row-reverse">                                       
                                        <div class="text_user_meesage  p-2">
                                            <!-- ပုံဆိုရင် text-user-message မှာ bg-white ဖြုတ် -->
                                            <!-- <p class="p-0 m-0" id="message">
                                            GoodNight        
                                            </p> -->
                                            <p class="p-0 m-0" id="img">
                                                <img src="download (1).jpg" alt="">
                                            </p>
                                        </div>
                                    </div>
                                </div>                                                            

                                <div class="chat__message" key="me">
                                    <div class="d-flex p-3 justify-content-start flex-row-reverse">                                       
                                        <div class="text_user_meesage  p-2">
                                            <!-- ပုံဆိုရင် text-user-message မှာ bg-white ဖြုတ် -->
                                            <!-- <p class="p-0 m-0" id="message">
                                            GoodNight        
                                            </p> -->
                                            <p class="p-0 m-0" id="img">
                                                <img src="download (1).jpg" alt="">
                                            </p>
                                        </div>
                                    </div>
                                </div>                              
                                <div class="chat__message" key="me">
                                    <div class="d-flex p-3 justify-content-start flex-row-reverse">                                       
                                        <div class="text_user_meesage  p-2">
                                            <!-- ပုံဆိုရင် text-user-message မှာ bg-white ဖြုတ် -->
                                            <!-- <p class="p-0 m-0" id="message">
                                            GoodNight        
                                            </p> -->
                                            <p class="p-0 m-0" id="img">
                                                <img src="download (1).jpg" alt="">
                                            </p>
                                        </div>
                                    </div>
                                </div>                              
                                <div class="chat__message" key="me">
                                    <div class="d-flex p-3 justify-content-start flex-row-reverse">                                       
                                        <div class="text_user_meesage  p-2">
                                            <!-- ပုံဆိုရင် text-user-message မှာ bg-white ဖြုတ် -->
                                            <!-- <p class="p-0 m-0" id="message">
                                            GoodNight        
                                            </p> -->
                                            <p class="p-0 m-0" id="img">
                                                <img src="download (1).jpg" alt="">
                                            </p>
                                        </div>
                                    </div>
                                </div>                              
                                <div class="chat__message" key="me">
                                    <div class="d-flex p-3 justify-content-start flex-row-reverse">                                       
                                        <div class="text_user_meesage  p-2">
                                            <!-- ပုံဆိုရင် text-user-message မှာ bg-white ဖြုတ် -->
                                            <!-- <p class="p-0 m-0" id="message">
                                            GoodNight        
                                            </p> -->
                                            <p class="p-0 m-0" id="img">
                                                <img src="download (1).jpg" alt="">
                                            </p>
                                        </div>
                                    </div>
                                </div>                              
                            </div>
                            <div class="chat__box__input">
                                <div class="chat__box__input--padding">
                                    <div class="input-group input-group-md chat__textbox me-2">                                        
                                        <span class="input-group-text" id="emoji">
                                            <i class='bx bxs-file'></i>
                                        </span>
                                        <span class="input-group-text" id="emoji">
                                            <i class='bx bxs-image'></i>
                                        </span>
                                        <input type="text" class="form-control shadow-none" placeholder="Chat Something...">
                                        <span class="input-group-text border-0" id="emoji">
                                            <i class='bx bxs-smile'></i>
                                        </span>
                                        <span class="input-group-text border-0" id="emoji">
                                            <i class='bx bxs-send '></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
