<div class="container-fluid p-4">

  <div class="boards-not-have " *ngIf="taskCards.length==0 && status.hasDoneFetching">

    <img class="mb-4 opacity-75" src="assets/img/3D/undraw_completed_tasks_vs6q.svg" alt="" width="25%"
      style="max-width: 250px;">
    <h3 class="fw-bold opacity-75">No Archive TaskCards Yet</h3>
  </div>

  <div class="d-flex justify-content-between align-items-center border-board px-3" *ngIf="taskCards.length!=0 ">
    <h3 class=""> Closed TaskCards </h3>
    <button class=" btn btn-sm myboard-btn btn-outline-secondary" data-bs-toggle="dropdown"><span>Export</span><i
        class="fa-solid fa-file-export"></i></button>
    <ul class="dropdown-menu">
      <li><input type="button" name="textShow" id="btn" class="dropdown-item" value="HTML"
          (click)="exportArchiveTaskReport(html)" />
      <li><input type="button" name="textShow" id="btn" class="dropdown-item" value="PDF"
          (click)="exportArchiveTaskReport(pdf)" />
      <li><input type="button" name="textShow" id="btn" class="dropdown-item" value="EXCEL"
          (click)="exportArchiveTaskReport(excel)" />
    </ul>

  </div>
  <div cdkDropList cdkDropListOrientation="vertical" [cdkDropListData]="taskCards" (cdkDropListDropped)="drop($event)"
    class="row  d-flex justify-content-start align-items-center m-0 p-0 my-3 flex-wrap">
    <task-card cdkDrag *ngFor="let task of taskCards" (restoreDeletedTask)="restoreTask($event)" [task]="task"
      [routerLink]="'/boards/'+task.board.id" class="col-4"></task-card>
  </div>
</div>