
<main class="p-0 m-0 d-flex gap-0" id="main">
  
    <sidebar></sidebar>
    <div id="main-area" class="m-0 p-3" [class.sidebar-hide]="!toggleStore.isShow">
        <div class="container create-taskCard">
            <form>
                <div class="row d-flex justify-content-center align-items-center">
                    <h1 class="text-center">Create TaskCard</h1>
                        <div class="col-6">
                            <div class="mb-3">
                                <div class="w-100">
                                    <h3 class="">Board Id</h3>
                                    <input type="text" placeholder="Board Id" id="boardId" name=boardId >
                                </div>
                            </div>
                            <div class="mb-3">
                                    <h3 class="">Enter TaskCard Name</h3>
                                    <input type="text" placeholder="TaskCard Name" id="taskCardName" name=taskCardName >
                            </div>
                            <div class="col-12 ">
                                <div class="mb-3">  
                                        <h6 class="">Write something about your TaskCard...</h6>
                                        <textarea name="description" placeholder="Description" id="description"></textarea>
                                </div>
                                <div class="mb-3">
                                    <button class="btn">Cancel</button>
                                    <button class="btn btn-primary">OK</button>
                                </div>

                            </div>
                        </div>
                </div>
            </form>
        </div>

    </div>
</main>