<div class="container-fluid p-4">

    <div class="boards-not-have " *ngIf="taskCards.length==0 && status.hasDoneFetching">
        <!-- <span style='font-size:100px;'>🙁</span> -->
        <img class="mb-4 opacity-75" src="assets/img/3D/undraw_relaxing_at_home_re_mror.svg" alt="" width="25%"
            style="max-width: 250px;">
        <h3 class="fw-bold opacity-75">No TaskCards Yet</h3>
    </div>

    <div class="container-fluid " *ngIf="taskCards.length!=0 ">
        <div class="d-flex justify-content-between border-board">
                <h2> My Tasks </h2>

                <!-- For Calender -->
             <div class="d-flex">
                <button class="btn btn-outline-secondary btn-sm mx-2 mb-2" data-bs-toggle="modal" data-bs-target="#tasks-calender-modal" >
                    <i class="fa-solid fa-calendar-days"></i>                        
                     Calendar
                </button>

                 <!-- report -->

                <div class="dropdown ">
                    <button class=" btn btn-outline-secondary btn-sm py-2" data-bs-toggle="dropdown" [disabled]="status.isReporting">
                        <i class="fa-solid fa-file-export mx-1"></i>
                         {{status.isReporting? 'Exporting' : 'Export'}}
                    </button>
                    <ul class="dropdown-menu">
                        <li><input type="button" name="textShow" id="btn" class="dropdown-item" value="HTML"
                               (click)="exportAssignedTasksReport(html)" />
                        <li><input type="button" name="textShow" id="btn" class="dropdown-item" value="PDF"
                                (click)="exportAssignedTasksReport(pdf)" />
                        <li><input type="button" name="textShow" id="btn" class="dropdown-item" value="EXCEL"
                                (click)="exportAssignedTasksReport(excel)" />
                    </ul>
                </div>
            </div>   
         </div>

        <div cdkDropList cdkDropListOrientation="vertical" [cdkDropListData]="taskCards"
            (cdkDropListDropped)="drop($event)"
            class="row  d-flex justify-content-start align-items-center m-0 p-0 flex-wrap my-3">
            <task-card cdkDrag *ngFor="let task of taskCards" [task]="task" [routerLink]="'/boards/'+task.board.id"
                class="col-4 my-1"></task-card>

        </div>
    </div>
    <loading target="TaskCards" [show]="status.isLoading"></loading>

</div>

<!-- modalbox for Calendar -->
<div class="modal fade"  id="tasks-calender-modal" style="padding-left: 0px!important;">
    <div class="modal-dialog modal-dialog-centered modal-lg" >
        <div class="modal-content"  style="width: 1000px  !important; height: 800px">
        <header class="modal-header d-flex justify-content-between">
            <h4 class="text-muted">Calender</h4>
            <i class="btn-close" id="close-calender-btn" data-bs-dismiss='modal' data-bs-target="#tasks-calender-modal"></i>
        </header>
        <div class="model-body">
           <full-calendar #calendar [options]="calendarDetails" ></full-calendar>
        </div>
        </div>
       
    </div>
</div>