<div class="container-fluid px-5">
    <header class="container-fluid bbmsnav-color mb-3 ">
        <a class="navbar-brand" href="#">
        <img src="../../../../assets/img/download-removebg-preview.png" alt="Logo" width="60px" class="d-inline-block align-text-top">
        </a>
    </header>
    
    <section class="d-flex justify-content-center align-items-center ">
        <div class="w-75 h-75 register-form">
        <div class="row register-rounded-form">
        <div class="col-6 d-none d-md-block card-body register-bg register-rounded-icon d-md-flex justify-content-center align-bottom">
            <img src="../../../../assets/img/3D/undraw_access_account_re_8spm.svg" alt="" class=" register-icon">
        </div>
        <div class="col-6 card-body register-rounded-form">                
            <form class="">
                <h2 class="text-center fw-bold mt-4">Create New Account</h2>
                <div class="mx-4 my-4 ">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" value="company@gmail.com" readonly>
                </div>
                <div class="mx-4 my-4">
                    <label for="username" class="form-label">UserName</label>
                    <input type="text" placeholder="Enter user name..." class="form-control" id="username">
                </div>
                <div class="mx-4 my-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" placeholder="Enter password..." class="form-control" id="password">
                </div>
                <div class="mx-4 my-4">
                <div class="d-grid">
                    <input type="submit" class="btn signup-btn" value="Create Account">
                </div>
                <p class="text-center mt-2">Already have an account? <a class="fw-bold d-inline-block nav-link">Login here</a></p>
            </div>
            </form>
        </div>
        
    </div>
</div>
    </section>

</div>