<div class="container-fluid px-5">
    <header class="container-fluid bbmsnav-color mb-2 ">
        <a class="navbar-brand" href="#">
        <img src="../../../../assets/img/download-removebg-preview.png" alt="Logo" width="60px" class="d-inline-block align-text-top">
        </a>
    </header>

    <section class="d-flex justify-content-center align-items-center ">
        <div class="register-form">
        <div class="row">
        <div class="col-6 d-none d-md-block register-bg register-rounded-icon d-md-flex justify-content-center">
            <img src="../../../../assets/img/3D/undraw_access_account_re_8spm.svg" alt="" class="register-icon">
        </div>
        <div class="col-6 register-rounded-form bg-light">
            <form #registerForm="ngForm" (ngSubmit)="onSubmit( registerForm)">
                <h2 class="text-center fw-bold mt-4">Create New Account</h2>
                <div class="mx-4 my-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" placeholder="Enter username" #username="ngModel" class="form-control" id="username" [(ngModel)]="user.username" name="username"  [class.is-invalid]="username.touched && username.invalid" autofocus required>  
                    <p class="text-danger" *ngIf="!user.username && username.touched">*Username is required</p>
                  </div>
                <div class="mx-4 my-3 ">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" placeholder="Enter email address" class="form-control" id="email" value="company@gmail.com" [(ngModel)]="user.email" name="email" [class.is-invalid]="email" readonly >
                    
                  </div>
                <div class="mx-4 my-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" placeholder="Enter password" #password="ngModel" class="form-control" id="password" [(ngModel)]="user.password" name="password" [class.is-invalid]="password.touched && password.invalid" required>
                    <p class="text-danger" *ngIf="!user.password && password.touched" > *Password is required</p>
                  </div>
                <div class="mx-4 my-3">
                    <label for="code" class="form-label">Verification Code</label>
                    <input type="text" placeholder="Enter verification code" class="form-control" #code="ngModel" id="code" [(ngModel)]="user.code" name="code" [class.is-invalid]="code.touched && password.invalid" required>
                    <p class="text-danger" *ngIf="!user.code && code.touched" > *Verification code is required</p>
                  </div>
                <div class="mx-4 my-3">
                <div class="d-grid">
                    <input type="submit" [disabled]="registerForm.invalid" class="btn signup-btn" value="Create Account">
                </div>
                <p class="text-center mt-2">Already have an account? <a routerLink="/login" class="fw-bold d-inline-block nav-link">Login here</a></p>
            </div>
            </form>
        </div>

    </div>
</div>
    </section>

</div>
