<section class="container-fluid w-100 h-100" style="height: 100vh !important"> 
    <header class="container-fluid bbmsnav-color mb-5 my-2 px-5">
        <a class="navbar-brand" routerLink="/login">
        <img src="/assets/img/download-removebg-preview.png" alt="Logo" width="60px" class="d-inline-block align-text-top">
        </a>
    </header>
    
    <div class=" d-flex justify-content-center mx-auto align-items-center w-auto rounded-1 text-black card  py-5 h-auto shadow-sm" style="width:500px !important;max-width:500px;">
        <form class="w-100" (ngSubmit)="forgetPasswordConfirm(forgetPassword)"  #forgetPassword="ngForm">
            <div class="row d-flex justify-content-center align-items-center">
                <h5 class="text-center mb-3 opacity-75">Reset Password</h5>
                <div class="col-8">
                    <div class=" mb-3 d-flex justify-content-md-end input-group pt-3 ">              
                        <input type="email" class="form-control shadow-none" name=email id="email" placeholder="Enter Your Email" [(ngModel)]="user.email"/>
                        <button type="button" (click)="sendCode(user.email)" class="btn btn-sm bg-thm text-light input-group-text" [disabled]="status.isEmailLoading || user.email == ''"> 
                            {{status.isEmailLoading ? 'Sending...' : 'Send Code'}}</button>
                    </div>
                    <div class="mb-3">              
                        <input type="text" class="form-control shadow-none" name=code id="code" placeholder="Enter Your Code" 
                        [disabled]="!status.sendEmail" [(ngModel)]="user.code"/>
                        <small *ngIf="status.hasError && (user.code == '')" class="text-danger" style="font-size:13px;">This field is required!</small>
                    </div>
                    <div class="mb-3">              
                        <input type="password" class="form-control shadow-none" name=password id="password" placeholder="New Password" 
                        [disabled]="!status.sendEmail" [(ngModel)]="user.password" />
                        <small *ngIf="status.hasError && (user.password == '')" class="text-danger" style="font-size:13px;">This field is required!</small>
                    </div>
                    <div class="mb-3">              
                        <input type="password" class="form-control shadow-none" name=confirmPassword id="confirmPassword" placeholder="Confirm Password"
                        [disabled]="!status.sendEmail" [(ngModel)]="user.confirmpassword" />
                        <small *ngIf="status.hasError && user.confirmpassword == ''" class="text-danger" style="font-size:13px;">This field is required!</small>
                    </div>
                    <div class="mb-3 mt-1 d-flex justify-content-end">
                        <button  type="reset" class="btn me-1 btn-sm">Cancel</button>
                        <button  type="submit" class="btn btn-sm bg-thm px-2 text-light" [disabled]="status.isLoading || !status.sendEmail" >{{status.isLoading ? 'Confirming...' : 'Confirm'}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>