@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
:root{
    /* --pale-dark:rgba(0,0,0,0.95);
    --dark:rgba(0,0,0,0.99); */
    /* --pale-dark:rgba(37,38,40);
    --dark:rgba(34,0,31,33); */
    --thm:rgba(51,102,153,1);
    --tw-color : rgba(255,204,51);
/* Dark Mode */
    --pale-dark:rgba(32,32,32);
    --dark:rgba(24,24,24);    
    --snow:rgba(255,255,255,0.9);
    --pale-snow:rgba(255,255,255,0.75);

/* Light mode */
    /* --pale-dark:rgba(251,253,255);
    --dark:rgba(252,252,252);
    --snow:rgba(86,86,86);
    --pale-snow:rgba(95,99,104); */
}

*{
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}



.bg-pale-dark{
    background-color: var(--pale-dark);
}

.bg-dark{
    background-color: var(--dark);
}

.bg-snow{
    background-color: var(--snow);
}

.bg-thm{
    background-color: var(--thm);
}
.bg-tw{
    background-color: var(--tw-color);
}
.snow{
    color:var(--snow);
}

.thm{
    color:var(--thm);
}

.dark{
    color:var(--dark);
}

.pale-dark{
    color:var(--pale-dark);
}

.pale-snow{
    color:var(--pale-snow);
}

.thm{
    color:var(--thm) !important;
}

.tw-color{
    color:var(--tw-color) !important;
}


/*
header ( width is 100% , height: 8%)
*/
#header{
    height:8vh; 
    max-height:8vh;
    box-shadow: 0 0 1px var(--pale-snow);
}

#header-center input{
    width:60%;
    padding:0 10px;
    border-radius:20px;
    border:none !important;
    background:transparent !important;
    box-shadow:0 0 2px var(--pale-snow);
    border:1px solid var(--pale-snow);
    padding:3px 50px !important;
    color:var(--snow);
    font-size:15px !important;
}

#header-center input:focus{
    outline: none;
    border: 5px solid var(--snow);
}

#header-center #search-icon{
    color:var(--pale-snow);
    transform: translateX(250%);
    font-size: 13px !important;
}

#main{
    width:100%;
    max-width:100vh;
}

#menu-icon{
    transition: 0.1s all;
}

#menu-icon:hover{
    background-color: var(--dark);
    border-radius: 10%;
}

#profile{
    width:30px;
    height:30px;
    border-radius: 100% !important;
    transform: translateX(100%);
    border:0.1px solid var(--snow);
    box-shadow: 0 0 0.5px var(--snow);
}

#main{
    width:100% !important;
    max-width:100vw !important;
}

#main #sidebar{
    width:18% !important;
    height:92vh !important;
    max-height:92vh !important;
    background-color:var(--dark);
    z-index: 10;
    box-shadow: 0 0 0.5px var(--pale-snow);
    position: fixed;
    color:var(--pale-snow);
    transition: 0.5s all;
    /* width:0% !important; */
}

#main #sidebar.sidebar-hide{
    width: 0 !important;
}

#main #sidebar.sidebar-hide *{
    width:0;
    display: none !important;
}

#main #main-area{
    width:82%;
    max-width:82%;
    height:auto;
    margin-left: 18vw !important;
    transition: 0.5s all;
}

#main #main-area.sidebar-hide{
    /* background: red !important; */
    width: 100% !important;
    max-width:100%;
    margin-left: 0 !important;
}


#create-btn{
    width:100px;
    border-radius: 30px;
    box-shadow: 0 0 1px var(--pale-snow);
}

#create-btn:hover{
    background:rgba(255,255,255,0.15) !important;
}


#main #sidebar .item{
    width:100%;
    margin:0;
    padding:8px 30px;
}

#main #sidebar .item:hover{
    background-color: rgba(255,255,255,0.15);
}

#main #sidebar .item:hover , #main #sidebar #create-btn:hover{
    cursor: pointer;
}

#main #sidebar i{
    color: rgba(255,255,255,0.55);
}

/* WorkSpace */
.workspace{
    border-top: 1px solid  rgba(245, 245, 245, 0.246);
    border-bottom: 1px solid rgba(245, 245, 245, 0.246) ;
}

.cursor-btn{
padding-bottom:3px;

}
.cursor-btn:hover{
    cursor: pointer;
    
    background:rgba(255,255,255,0.15) !important;
    
}
.color-hover-white:hover{
    color: white !important;
}
.ws-icon{
    font-size: 9px;
    padding-right: 10px;

}
.rounded-icon{
    width: 25px;
    height: 25px;
    display: inline-block;
    color: black;
    background-color: #28BDC2;
    border-radius: 50%;
    text-align: center;
}

/* Start Sign Up */
.bbmsnav-color{
    /* background: var(--snow)!important; */
    background-color: rgb(33, 31, 31) !important;
    padding-right:20px ;
    padding-left:20px ;
}
.register-header{
    font-size: 48px;
}
.signup-text{
    height: 50px;
    margin-bottom: 10px;
}
.signup-btn{
    background:var(--thm)!important;
    color:var(--snow) !important;
    height: 45px;
    transition:all 0.3s !important;
}

.signup-btn:hover{
    background:rgba(35, 78, 122, 0.951) !important;
    color:var(--snow) !important;
}
/* End Sign Up */

/* Start Register */
.register-icon{
    width: 67%;

}

.register-bg{
    background-color: var(--thm)!important;
    
}
.register-form{
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
}

.register-rounded-icon{
    border-top-left-radius:16px;
    border-bottom-left-radius:16px;
}
.register-rounded-form{
    background-color: var(--snow)!important;
    border-top-right-radius:16px;
    border-bottom-right-radius:16px;
}
/* End Register*/

#mail-capsule{
    background-color: var(--thm);
}

#mail-capsule:active{
    cursor:pointer;
}

#mail-capsule span:hover{
    cursor: pointer;
}
/* Create Board */

/* .profilelink{
    padding: 30px 20px;
    margin: 60px 30px 0 30px;
    border-radius: 10px;
    width: 80%;
    height: 90%;

} */
.boardprofile{
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 50%;
    object-fit: cover;
    /* background-image: url(assets/img/board-profile-img/download.jpg); */
}
.imgedit{
    position: relative;
    text-align: center;
    width: 60px;
    background-color: rgb(33, 33, 33);
    bottom: -100px;
    right: 70px;
}
.textareaBox{
    resize: none;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
};
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    /* display: block; */
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: rgba(0, 0, 0, 0.826) !important;
    color: white;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.board-con{
    background-color: var(--snow);
    /* background-color: whitesmoke; */
    /* background-color: white; */
}
.emailbox{
    height: 100px;
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}
.emailbox::-webkit-scrollbar {
    display: none; 
  }

#verification-btn:hover{
    cursor: pointer;
}
body{
    background-color:rgb(33, 31, 31) !important;
}
.board{
    color: white;
    height: 150px !important;
    /* width : 280px !important;
    max-width: 280px; */
       max-height: 150px;
    border: 1px solid rgba(229, 225, 225, 0.3) !important;
    /* box-shadow: 2px 2px 2px rgba(245, 245, 245, 0.368); */
    background-color:var(--dark) !important;
    transition: 0.2s all;
}

.board:hover{
    border: 2px solid var(--thm) !important;
    cursor: pointer;
}
.create-board{

    border: 1px solid rgba(128, 128, 128, 0.628);
}