/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap'); */
:root{
    /* --pale-dark:rgba(0,0,0,0.95);
    --dark:rgba(0,0,0,0.99); */
    /* --pale-dark:rgba(37,38,40);
    --dark:rgba(34,0,31,33); */
    --thm:rgba(51,102,153,1);
    --tw-color : rgba(255,204,51);
/* Dark Mode */
    /* --pale-dark:#0e153a;
    --dark:#0e153a; */

    /* login-50- rgba(255,255,255,0.75)
    #161b22af
    */
    --pale-dark:#161b22;
    --dark:#161b22; 
    --snow:rgba(255,255,255,0.9);
    --pale-snow:rgba(255,255,255,0.75);
    /* #071e3d */
/* Light mode */
    /* --pale-dark:rgba(251,253,255);
    --dark:rgba(252,252,252);
    --snow:rgba(86,86,86);
    --pale-snow:rgba(95,99,104); */
}

*{
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}



.bg-pale-dark{
    background-color: var(--pale-dark);
}

.bg-dark{
    background-color: var(--dark);
}

.bg-snow{
    background-color: var(--snow) !important;
}

.bg-thm{
    background-color: var(--thm) !important;
}
.bg-tw{
    background-color: var(--tw-color);
}
.bg-pale-snow{
    background: var(--pale-snow);
}
.snow{
    color:var(--snow);
}

.thm{
    color:var(--thm);
}

.dark{
    color:var(--dark);
}

.pale-dark{
    color:var(--pale-dark);
}

.pale-snow{
    color:var(--pale-snow);
}



.thm{
    color:var(--thm) !important;
}


.tw-color{
    color:var(--tw-color) !important;
}


/*
header ( width is 100% , height: 8%)
*/
#header{
    height:8vh; 
    max-height:8vh;
    box-shadow: 0 0 1px var(--pale-snow);
}

#header-center input{
    width:60%;
    padding:0 10px;
    border-radius:20px;
    border:none !important;
    background:transparent !important;
    box-shadow:0 0 2px var(--pale-snow);
    border:1px solid var(--pale-snow);
    padding:3px 50px !important;
    color:var(--snow);
    font-size:15px !important;
}

#header-center input:focus{
    outline: none;
    border: 5px solid var(--snow);
}

#header-center #search-icon{
    color:var(--pale-snow);
    transform: translateX(250%);
    font-size: 13px !important;
}

#main{
    overflow-y: hidden;
    width:100%;
    max-width:100vh;
    margin-top:8vh !important;
}

#menu-icon{
    transition: 0.1s all;
}

#menu-icon:hover{
    background-color: var(--dark);
    border-radius: 10%;
}

#profile{
    width:35px;
    height:35px;
    border-radius: 100% !important;
    transform: translateX(100%);
    
    box-shadow: 0 0 0.5px var(--snow)
}
.member-container{
    background-color: rgba(15, 15, 15, 0.05);    
}
#profile-member{
    width:35px;
    height:35px;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#main{
    width:100% !important;
    max-width:100vw !important;
}

#main #sidebar{
    width:18% !important;
    max-width:18% !important;
    height:92vh !important;
    max-height:92vh !important;
    background-color:var(--dark);
    z-index: 10;
    box-shadow: 0 0 0.5px var(--pale-snow);
    position: fixed;
    color:var(--pale-snow);
    transition: 0.5s all;
    /* width:0% !important; */
}

#main #sidebar.sidebar-hide{
    width: 0 !important;
}

#main #sidebar.sidebar-hide *{
    width:0;
    display: none !important;
}

#main #main-area{
    width:82%;
    min-height:92vh;
    /* max-width:82%; */
    height:auto;
    margin-left: 18vw !important;
    transition: 0.5s all;
    overflow-y: hidden;
}

#main #main-area.sidebar-hide{
    /* background: red !important; */
    width: 100% !important;
    max-width:100%;
    margin-left: 0 !important;
}


#create-btn{
    width:100px;
    border-radius: 30px;
    box-shadow: 0 0 1px var(--pale-snow);
}

#create-btn:hover{
    background:rgba(255,255,255,0.15) !important;
}
.hover-member:hover{
    cursor: pointer;
    
    background:rgba(15, 15, 15, 0.14) !important;
}

#main #sidebar .item{
    width:100%;
    margin:0;
    padding:8px 30px;
}

#main #sidebar .item:hover{
    background-color: rgba(255,255,255,0.15);
}

#main #sidebar .item:hover , #main #sidebar #create-btn:hover{
    cursor: pointer;
}

#main #sidebar i{
    color: rgba(255,255,255,0.55);
}

/* WorkSpace */
.workspace{
    border-top: 1px solid  rgba(245, 245, 245, 0.246);
    border-bottom: 1px solid rgba(245, 245, 245, 0.246) ;
}

.cursor-btn{
padding-bottom:3px;

}
.cursor-btn:hover{
    cursor: pointer;
    
    background:rgba(255,255,255,0.15) !important;
    
}
.color-hover-white:hover{
    color: white !important;
}
.ws-icon{
    font-size: 9px;
    padding-right: 10px;

}
.rounded-icon{
    width: 25px;
    height: 25px;
    display: inline-block;
    color: black;
    background-color: #28BDC2;
    border-radius: 50%;
    text-align: center;
}

/* Start Sign Up */
.bbmsnav-color{
    /* background: var(--snow)!important; */
    background-color: transparent;
    padding-right:20px ;
    padding-left:20px ;
}
.register-header{
    font-size: 48px;
}
.signup-text{
    height: 50px;
    margin-bottom: 10px;
}
.signup-btn{
    background-color: #161b22af!important;
    color:var(--snow) !important;
    height: 45px;
    transition:all 0.3s !important;
}

.signup-btn:hover{
    background-color: #161b22af!important;
    /* background:rgba(35, 78, 122, 0.951) !important; */
    color:var(--snow) !important;
}
/* End Sign Up */

/* Start Register */
.register-icon{
    width: 67%;

}

.register-bg{
    background-color: #161b22af!important;
    
}
.register-form{
    width: 60%;

}

.register-rounded-icon{
    border-top-left-radius:16px;
    border-bottom-left-radius:16px;
}
.register-rounded-form{
    background-color: var(--snow)!important;
    border-top-right-radius:16px;
    border-bottom-right-radius:16px;
}
/* End Register*/

#mail-capsule{
    background-color: var(--thm);
}

#mail-capsule:active{
    cursor:pointer;
}

#mail-capsule span:hover{
    cursor: pointer;
}
/* Create Board */

/* .profilelink{
    padding: 30px 20px;
    margin: 60px 30px 0 30px;
    border-radius: 10px;
    width: 80%;
    height: 90%;

} */
.boardprofile{
    width: 250px;
    height: 250px;
    border: 1px solid rgba(15, 15, 15, 0.60);
    border-radius: 50%;
    object-fit: cover;
    /* background-image: url(assets/img/board-profile-img/download.jpg); */
}

.imgholder{
    position: relative;
}
.imgedit{
    position: absolute;
    text-align: center;
    width: 60px;
    background-color: rgb(33, 33, 33);
    bottom: 10px;
    right: 20px;
}
.textareaBox{
    resize: none;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
};
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    /* display: block; */
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: rgba(0, 0, 0, 0.826) !important;
    color: white;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.board-con{
    background-color: var(--snow) !important;
    /* background-color: whitesmoke !important; */
    /* background-color: white; */
}
.emailbox{
    height: 100px;
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}
.emailbox::-webkit-scrollbar {
    display: none; 
  }

#verification-btn:hover{
    cursor: pointer;
}
body{
    /* background-color: var(--snow) !important; */
    background-color:rgba(225, 225, 225, 0.75) !important; 
    /* background-color: #fbfbfbbe !important; */
}
.board{
    border-radius: 0 !important;
    color: black;
    height: 150px !important;
    max-height: 150px;
    border: 1px solid rgba(225, 225, 225, 0.75) !important; 
     /* background-color:rgba(225, 225, 225, 0.75) !important;  */
     background-color: #fbfbfbbe !important;

}

.board:hover{
    border: 1px solid var(--thm) !important;
    cursor:move;    
}
.create-board{
    background-color: #fbfbfbbe !important;
}
.h-test{
    max-height: 450px !important;
    height: 450px !important;
}
.r-test{
    max-height: 510px !important;
    height: 510px !important;
}
/* taskCard */
.create-taskCard{
    border: 1px solid rgba(128, 128, 128, 0.628);
    background-color:rgb(254, 254, 254);
    height: 480px;
    
}

/* nav */
.line1,.line2,.line3{
    width: 25px;
    height: 3px;
    margin: 6px;
    transition: all 0.6s;
  }
  
  .crossxs .line1{
    transform: rotate(-45deg) translate(-6px,6px);
  }
  
  .crossxs .line2 {
    opacity: 0;
  }
  
  .crossxs .line3 {
    transform: rotate(45deg) translate(-6px, -6px);
  }
  /* End bugger */
  
  /* Start nav-link-effect */
  
  .nav-link-effect span{
  position: relative;
  padding-bottom: 5px;
  
  }
  
  .nav-link-effect span::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 0px;
    transform: scaleX(0);
    background: rgb(255, 189, 57);
    /* transition: all 0.3s ease-in-out 0s; */
  }
  
  .nav-link-effect span:hover::after {
    transform: scaleX(1);
  }
  .nav-link-effect span:active::after {
    transform: scaleX(1);
  }
  .nav-link-active{
    border-bottom: 2px solid yellow;
  }
  
  
/* nav */

/* TaskCard */

.scrolling-wrapper {
    /* overflow-x: scroll; */
    /* overflow-y: hidden; */
    white-space: nowrap;
  box-sizing: border-box;
  /* height:auto; */
  /* height: 82vh; */
  padding: 16px 12px 0;
  /* position: relative; */
  background-color:rgb(225, 225, 225) !important; 
  
  }
    /* .scrolling-wrapper {
      -webkit-overflow-scrolling: touch;
    } */
    
  .task-card-container{
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      z-index:9000 !important;
      width: 304px;
      max-width: 304px;
      /* background: rgba(255,255,255,0.75); */
      /* background-color: transparent !important; */
    /*none ထားတဲ့အတွက်ကြောင့် ကျန်တဲ့ကောင်တွေမှာ hover တို့ pointer တို့သုံးချင်ရင် events ကို
      လုပ်ပေးရတယ် ကိုဘ်သုံးမဲ့ div မှာ  */
      
      /* border: 1px solid rgba(128, 128, 128, 0.2) !important; */
     
  }
  
.task-card-container:hover{
    /* border: 1px solid rgba(128, 128, 128, 0.4) !important; */
}  

  .stage-icon{
      cursor: pointer;
      height: 28px;
      min-height: 28px;
      min-width: 28px;
      width: 28px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .stage-title{
      cursor: pointer;
      font-size: 16px;
      line-height: 20px;
  }
  .task-cards{
    cursor: pointer;
      width: auto;
      height:auto;
      display: flex;
      justify-content:start;
      align-items: center;
      background-color: #fbfbfbbe !important;
      }

  .task-cards:hover{
    border: 1px solid rgba(15, 15, 15, 0.336);
  }
  
  /* .task-card-scroll{
    
      overflow-y: scroll;
  } */
  .task-card-scroll::-webkit-scrollbar{
    display: none;
}
.task-box-shadow{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px !important;
}
 

/* Change Some Bootstrap code */
.offcanvas.offcanvas-end {
    
    top: 60px !important;
    /* transition: all s !important; */
}
.offcanvas-backdrop.show {
    opacity: 0 !important;
}

  ::-webkit-scrollbar {
    width: 5px;
    height:8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color:none;
  }
  
  ::-webkit-scrollbar-thumb {
   background-color: var(--thm);
  }

  #invitedEmails{
    height:auto;
    max-height:150px;
    overflow-y: scroll;
  }
  .cdk-drag-preview {
    box-sizing: border-box;
    background-color: var(--pale-snow) !important;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);

    
  }
  
  .cdk-drag-placeholder {
    box-sizing: border-box;
    opacity: 0.3;
    /* background-color:rgba(39, 37, 37, 0.781); */
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  

  #task-offcanvas{
    width:600px !important;
  }

  #task-offcanvas i:hover{
    cursor : pointer;
  }

  #task-offcanvas .offcanvas-header input{
    border: none !important;
    background-color: var(--snow);
  }

  #task-offcanvas #activity{
    background: #eee !important;
    padding:5px 10px;;
    outline: none;
    border: none;
    width:100% !important;
  }

  #task-canvas #activity:focus{
    outline:none ;
  }

  #tab:hover{
    cursor: pointer;
  }


 #tab{
    font-weight: 400;
 }


 #comments-container{
    height:580px;
    max-height:580px;
    position: relative;
    padding:30px 0 0 0;
 }

 #comments-container #comments{
    width:100%;
    height:90%;
    max-height:92%;
    overflow-y: scroll;
 }

 #comments-container #comments #comment{
    width:75%;
    padding:15px 10px;
    background: #eee;
 }

 #comments-container #comments #comment-container{
    display: flex;
    flex-direction: column;
    /* margin: 10px 0 !important; */
 }

 #comments-container #comments #comment-container #comment-icon{
    width:auto;
    height:auto;
    display: flex;
    align-items: center;
    gap: 5px;
 }

 #comments-container #comments #comment-container #comment-icon #icon{
    width:35px;
    height:35px;
    border-radius: 100%;
    background-color: #eee;
 }  

 #comments-container #comments #comment-container.my-cmt{
    display: flex;
    align-items: flex-end;
 }

 #comments-container #comment-send-box{
    height:8%;
    width:100%;
    position: sticky;
    bottom: 0;
    left: 0;
    padding:10px;
    margin:0;
 }

 #comment{
    position:  relative ;
 }

 #comment #comment-control{
    position: absolute;
    right:-70px;
    top:20%;
    padding:8px 10px;
    background: #eee;
    border-radius:5px;
 }



 .ask-container{
    position: relative;
    top: 0;
    right:70px;
    
 }
 
 
.lineText{
    display: flex;
    justify-content: start;
    align-items: flex-end;
}
.member-con{
    background-color: red;
    margin-top: 20px;
}
.bg-stage-dark{
    background:#161b22;
}
.myboard-btn{
    color: rgba(39, 37, 37, 0.781) !important;
}
.myboard-btn:hover{
    background:rgba(39, 37, 37, 0.781) !important;
    color: var(--pale-snow) !important;
}
.border-board{
    width:100%;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(39, 37, 37, 0.171);
    
}
.sider-scroll{
    height: 130px;
    overflow-y: scroll;

}
.board-input{
    background:transparent;
    outline: none;   
    border: none;
}
.siderboards-font{
    font-size: 13px !important;
}
.siderbarTab-font{
    font-size: 15px !important;
}
.iconBoard{
    display: inline-block;
    width: 50px;
    height: 50px;
}
.boards-not-have{
    width: 100%;
    display: flex;
    padding: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.link:hover{
    cursor:pointer;
}
.btn-change{
background-color: var(--pale-dark) !important;
color: rgba(255, 255, 255, 0.863) !important;
}
.btn-change:hover{
    background-color: var(--pale-dark) !important;
    color: white !important;
    }